openapi: 3.2.0
info:
  title: RentCheck REST Maintenance Reports V2 API
  version: 1.0.0
  description: '## Mission

    At RentCheck, our mission is plain and simple: To make renting fair and transparent for everyone involved.'
  contact:
    name: RentCheck Support
    email: support@getrentcheck.com
servers:
- url: https://prod-public-api.getrentcheck.com
  description: Production server
security:
- bearerAuth: []
  x-app-id: []
  x-app-secret: []
tags:
- name: Maintenance Reports V2
paths:
  /v2/maintenance_reports:
    get:
      summary: Get all maintenance reports
      tags:
      - Maintenance Reports V2
      parameters:
      - in: query
        name: filters[search]
        description: Search value among maintenance report's name, inspection label, property address, city and zip code.
        schema:
          type: string
      - in: query
        name: filters[created_date][start]
        description: Value to filter maintenance report creation date by a starting date.
        schema:
          type: string
      - in: query
        name: filters[created_date][end]
        description: Value to filter maintenance report creation date by an ending date.
        schema:
          type: string
      - in: query
        name: filters[property_id]
        description: Get all maintenance reports for this property.
        schema:
          type: string
      - in: query
        name: filters[inspection_id]
        description: Get all maintenance reports for this inspection.
        schema:
          type: string
      - in: query
        name: filters[inspection_templates]
        description: Get all maintenance reports for the inspection templates informed. This parameter accepts multiple ids concatenated with a `,` (comma).
        schema:
          type: string
          example: inspection_template_id_1,inspection_template_id_2,inspection_template_id_3
      - in: query
        name: options[pagination][page_size]
        description: How many items to be returned for each page.
        schema:
          type: integer
          default: 20
      - in: query
        name: options[pagination][page_number]
        description: Zero-indexed page number.
        schema:
          type: integer
          default: 0
      - in: query
        name: options[sort][sort_type]
        description: 'Sort list in ascending or descending order. Accepted

          case-insensitively.

          '
        schema:
          type: string
          default: DESC
          enum:
          - ASC
          - DESC
          - asc
          - desc
      - in: query
        name: options[sort][sort_by]
        description: Sort list by a specific property.
        schema:
          type: string
          default: created_date
          enum:
          - property_address
          - property_city
          - property_zip_code
          - name
          - inspection_template
          - created_date
      responses:
        '200':
          description: Returns all maintenance reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/api_maintenance_report'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
                  total_results:
                    type: integer
                    description: Amount of total elements according to search criteria.
        '400':
          description: 'Bad request — request failed validation. Most

            commonly an unsupported `sort_by` value, a malformed

            `created_date` range, or a non-string filter value.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/401'
      operationId: getV2MaintenanceReports
      x-operation-id-source: derived
components:
  responses:
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 401
              error:
                type: string
                description: Error message
                enum:
                - token is not valid
                - authorization header is empty
                - authorization header is not valid
                - 'format for Authorization must be: Bearer [token]'
                - refresh token is not valid for resources
                - not well-formed token
                example: token is not valid
  schemas:
    api_maintenance_report:
      type: object
      required:
      - id
      - name
      - organize_by
      - created_by
      - inspection_date
      - created_date
      - inspection
      - property
      - maintenance_flags
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        name:
          type: string
          description: A name for the new report
          example: Move-out maintenance report
        organize_by:
          type: string
          description: Group to display when viewing the report
          example: responsibility
          enum:
          - responsibility
          - room
          - skill
        created_by:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              description: Name of user that created the report
        inspection_date:
          type: string
          description: Inspection creation date, ISO format
          example: 2022-01-15 00:00:00
        created_date:
          type: string
          description: Report creation date, ISO format
          example: 2022-01-15 00:00:00
        inspection:
          type: object
          description: The inspection info from where the report originates.
          required:
          - id
          - date
          - template
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            date:
              type: string
              description: The inspection due date (legacy) is the original date by which the recipient must complete the inspection.
              example: 2021-12-02 14:15:37.925000
            template:
              type: object
              required:
              - id
              - name
              - internal_label
              - property_type
              - display_name
              properties:
                id:
                  type: string
                  description: Inspection template identifier
                name:
                  type: string
                  description: Inspection template name.
                internal_label:
                  type: string
                  description: Inspection template internal label.
                property_type:
                  type: string
                  description: Inspection template property type.
                display_name:
                  type: string
                  description: Resolved display name for the inspection template, used by clients to render the template title (mirrors `name` for legacy templates).
              description: Inspection template summary (id, name, plus the resolved `display_name`).
        property:
          type: object
          required:
          - id
          - address
          - city
          - zip_code
          description: This is the entity id of the Unit, Building, or Community that the entity is for.
          properties:
            id:
              type: string
              description: Selected entity's property id
              example: 00BRcZPSakXz6w7RYoE
            address:
              type: string
              description: Selected entity's property address
              example: 2001 Red Gates
            address_2:
              type: string
              description: Selected entity's property additional address info
              example: Apt. 4B
            city:
              type: string
              description: Selected entity's property city
              example: New Orleans
            region:
              type: string
              description: Selected entity's property region
              example: Orleans
            zip_code:
              type: string
              description: Selected entity's property zip_code
              example: '70130'
        zip_report_location:
          type: string
          description: Link to the inspections completed ZIP report if previously generated.
        pdf_report_location:
          type: string
          description: Link to the inspections completed PDF report if previously generated.
        maintenance_flags:
          type: array
          items:
            type: object
            required:
            - id
            - feature_id
            - feature
            - section
            - note
            - skill
            - created_date
            - created_by
            - inspection
            - image_urls
            - video_urls
            - maintenance_reports
            - work_orders
            properties:
              id:
                type: string
                description: Entity ID
                example: 00BRcZPSakXz6w7RYoE
              feature_id:
                type: string
                description: Maintenance flag's feature ID.
              feature:
                type: string
                description: Maintenance flag's feature name.
              section:
                type: object
                required:
                - name
                - name_with_ordinal
                - type
                description: Section the feature belongs to.
                properties:
                  name:
                    type: string
                    description: The section name for the feature
                    example: Hallway
                  name_with_ordinal:
                    type: string
                    description: The section name with ordinal for the feature. This is only different from section for rooms like Bedroom, Bathroom, etc
                    example: First Bedroom
                  type:
                    type: string
                    description: The section type for the feature as it was defined in the template
                    enum:
                    - room
                    - section
                    example: room
              note:
                type: string
                description: Maintenance flag's notes
              internal_note:
                type: string
                description: Maintenance flag's internal note.
              skill:
                type: string
                description: Maintenance flag's required skill.
              cost:
                type: number
                description: Maintenance flag's cost
              responsibility:
                type: string
                description: Maintenance flag's responsibility
                enum:
                - OWNER
                - RESIDENT
                - ''
              vendor:
                type: string
                description: Vendor the flag is routed to.
                enum:
                - Latchel
                - AppFolio
                - Yardi
                - Jenark
                - RentCheck
                - Rent Manager
                - Rentvine
              created_date:
                type: string
                description: Flag creation date, ISO format.
                example: 2022-01-15 00:00:00
              created_by:
                type: object
                description: Basic identifying info for the user that created the flag.
                required:
                - id
                - name
                - email
                - type
                properties:
                  id:
                    type: string
                    description: Entity ID
                    example: 00BRcZPSakXz6w7RYoE
                  name:
                    type: string
                  email:
                    type: string
                  type:
                    type: string
                    enum:
                    - Renter
                    - Property Manager
                    - Landlord
                    - System
                    description: User type discriminator.
              image_urls:
                type: array
                description: URLs of images related to the flag.
                items:
                  type: string
              video_urls:
                type: array
                description: URLs of videos related to the flag.
                items:
                  type: string
              custom_fields:
                type: array
                description: Custom-field values captured for this flag.
                items:
                  type: object
                  required:
                  - id
                  - value
                  properties:
                    id:
                      type: string
                      description: Stable identifier of the custom field (chosen by the user when the field was created).
                    value:
                      type: array
                      description: Selected/entered values. Always an array of strings even for single-select fields.
                      items:
                        type: string
              inspection:
                type: object
                required:
                - id
                - label
                - due_date
                - inspection_template
                properties:
                  id:
                    type: string
                    description: Entity ID
                    example: 00BRcZPSakXz6w7RYoE
                  label:
                    type: string
                    description: Inspection label.
                  due_date:
                    type: string
                    description: The inspection due date (legacy) is the original date by which the recipient must complete the inspection.
                    example: 2021-12-02 14:15:37.925000
                  inspection_template:
                    type: object
                    required:
                    - id
                    - name
                    - internal_label
                    - property_type
                    - display_name
                    properties:
                      id:
                        type: string
                        description: Inspection template identifier
                      name:
                        type: string
                        description: Inspection template name.
                      internal_label:
                        type: string
                        description: Inspection template internal label.
                      property_type:
                        type: string
                        description: Inspection template property type.
                      display_name:
                        type: string
                        description: Resolved display name for the inspection template, used by clients to render the template title (mirrors `name` for legacy templates).
                description: Basic info for the inspection the flag belongs to.
              maintenance_reports:
                type: array
                description: Maintenance reports the flag has been included in. Retained for schema compatibility, but always emitted as `[]`.
                items:
                  type: object
                  required:
                  - id
                  - name
                  properties:
                    id:
                      type: string
                      description: Entity ID
                      example: 00BRcZPSakXz6w7RYoE
                    name:
                      type: string
              work_orders:
                type: array
                description: Work orders the flag has been included in.
                items:
                  type: object
                  required:
                  - id
                  - name
                  properties:
                    id:
                      type: string
                      description: Entity ID
                      example: 00BRcZPSakXz6w7RYoE
                    name:
                      type: string
  securitySchemes:
    bearerAuth:
      description: Authorization key needed to use the API
      type: http
      scheme: bearer
      bearerFormat: JWT
    x-app-id:
      description: Represents the identification of you application
      type: apiKey
      name: x-app-id
      in: header
      required: true
    x-app-secret:
      description: Represents the secret for your application
      type: apiKey
      name: x-app-secret
      in: header
      required: true
