openapi: 3.2.0
info:
  title: RentCheck REST Latchel Proxy API
  version: 1.0.0
  description: '## Mission

    At RentCheck, our mission is plain and simple: To make renting fair and transparent for everyone involved.'
  contact:
    name: RentCheck Support
    email: support@getrentcheck.com
servers:
- url: https://prod-public-api.getrentcheck.com
  description: Production server
security:
- bearerAuth: []
  x-app-id: []
  x-app-secret: []
tags:
- name: LatchelProxy
paths:
  /v1/latchel/{orgId}/properties:
    get:
      x-internal: true
      summary: Get all latchel properties
      tags:
      - LatchelProxy
      responses:
        '200':
          description: Latchel response for get all properties, ref https://papi.latchel.com/api-docs/papi/#operation/properties_index
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
      operationId: getV1LatchelByOrgIdProperties
      x-operation-id-source: derived
  /v1/latchel/{orgId}/tenants:
    get:
      x-internal: true
      summary: Get all latchel tenants
      tags:
      - LatchelProxy
      responses:
        '200':
          description: Latchel response for get all tenants, ref https://papi.latchel.com/api-docs/papi/#operation/tenants_index
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
      operationId: getV1LatchelByOrgIdTenants
      x-operation-id-source: derived
  /v1/latchel/{orgId}/vendor-companies:
    get:
      x-internal: true
      summary: Get all latchel vendor companies
      tags:
      - LatchelProxy
      responses:
        '200':
          description: Latchel response for get all vendor companies, ref https://papi.latchel.com/api-docs/papi/#operation/vendor_company_index
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
      operationId: getV1LatchelByOrgIdVendorCompanies
      x-operation-id-source: derived
  /v1/latchel/{orgId}/vendor-companies/prioritized:
    get:
      x-internal: true
      summary: Get all latchel vendor companies prioritized
      tags:
      - LatchelProxy
      responses:
        '200':
          description: Latchel response for get all vendor companies prioritized, ref https://papi.latchel.com/api-docs/papi/#operation/vendor_company_prioritized_index
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
      operationId: getV1LatchelByOrgIdVendorCompaniesPrioritized
      x-operation-id-source: derived
  /v1/latchel/{orgId}/properties/{id}:
    get:
      x-internal: true
      summary: Get a latchel property
      tags:
      - LatchelProxy
      responses:
        '200':
          description: Latchel response for get a property, ref https://papi.latchel.com/api-docs/papi/#operation/properties_get
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
      operationId: getV1LatchelByOrgIdPropertiesById
      x-operation-id-source: derived
  /v1/latchel/{orgId}/properties/{id}/vendor-companies:
    get:
      x-internal: true
      summary: Get a latchel property's prioritized vendors
      tags:
      - LatchelProxy
      responses:
        '200':
          description: Latchel response for get a property's prioritized vendors, ref https://papi.latchel.com/api-docs/papi/#tag/Properties/paths/~1properties~1{property_id}~1vendor-companies/get
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
      operationId: getV1LatchelByOrgIdPropertiesByIdVendorCompanies
      x-operation-id-source: derived
components:
  responses:
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 401
              error:
                type: string
                description: Error message
                enum:
                - token is not valid
                - authorization header is empty
                - authorization header is not valid
                - 'format for Authorization must be: Bearer [token]'
                - refresh token is not valid for resources
                - not well-formed token
                example: token is not valid
  securitySchemes:
    bearerAuth:
      description: Authorization key needed to use the API
      type: http
      scheme: bearer
      bearerFormat: JWT
    x-app-id:
      description: Represents the identification of you application
      type: apiKey
      name: x-app-id
      in: header
      required: true
    x-app-secret:
      description: Represents the secret for your application
      type: apiKey
      name: x-app-secret
      in: header
      required: true
