openapi: 3.1.0
info:
  title: RentCheck REST Account Settings LatchelProxy API
  version: 1.0.0
  description: "\n## Mission\nAt RentCheck, our mission is plain and simple: To make renting fair and transparent for everyone involved. \nRentCheck is a property inspection solution that helps property managers save time and resources with easy self-guided inspections that residents can perform from their smartphone. \n\nWith RentCheck, property managers can avoid tenant coordination, eliminate drive time, and standardize their inspection process. \nWe provides real-time visibility to property managers and owners while bringing transparency to the security deposit deduction process.\n\n## API\nThe RentCheck API lets developers tap into the RentCheck ecosystem, building their own RentCheck-powered applications to enable inspection scheduling and creation and to leverage inspection data for a variety of use cases in the property management, maintenance, and insurance spaces.\n\nThe RentCheck REST API supports JSON requests and responses and features a resource-oriented design that generally adheres to the RFC 7321 HTTP/1.1 standard. \nOur API resources provide access to many RentCheck features, including units, buildings, communities, inspections, and residents.\n\n## Credentials\nIn addition to the Bearer Auth, RentCheck will need to send you an application ID and secret. These are required to generate the required application headers (x-app-id & x-app-secret).\nThese values can be obtained from the [RentCheck API integration page](https://app.getrentcheck.com/account/integrations/rentcheck-api).\n\n## Rate Limiting\nThe RentCheck API enforces rate limits to ensure fair usage and prevent abuse. The rate limits are as follows:\n- **Requests per second**: 8\n- **Requests per minute**: 256\n- **Requests per 10 minutes**: 1024\n\nIf you exceed the rate limits, you will receive a 429 Too Many Requests response.\n\n## Pagination\nWhen interacting with endpoints that return a list of items, the results are paginated to help manage large data sets efficiently. The following parameters control pagination:\n- **page_size** (integer): Defines the number of items returned per page. The maximum allowed value is 250. If a value larger than 250 is provided, it will be automatically clamped to 250. This ensures that the system performs optimally and prevents the server from being overwhelmed by too many items in a single response.\n  - **Maximum**: `250`\n- **page_number** (integer): Indicates the page number to retrieve. Pagination starts at `page 0`. If not specified, the first page (`page 0`) is returned by default.\n### Example Request\n```http\nGET /api/v1/inspections?page_size=300&page_number=2\n```\nIn this example, although the `page_size` parameter is set to `300` **for a query with 1500 total results**, the system will return only `250` items per page, as `300` exceeds the maximum allowed value.\n#### Example Response\n```json\n{\n    \"status\": 200,\n    \"data\": [...],\n    \"count\": 250,\n    \"total_results\": 1500\n}\n```\nThis response shows that the `page_size` has been clamped to `250`, despite the initial request for `300`.\n"
  contact:
    name: RentCheck Support
    email: support@getrentcheck.com
servers:
- url: https://prod-public-api.getrentcheck.com
  description: Production server
security:
- bearerAuth: []
  x-app-id: []
  x-app-secret: []
tags:
- name: LatchelProxy
paths:
  /v1/latchel/{orgId}/properties:
    get:
      x-internal: true
      summary: Get all latchel properties
      tags:
      - LatchelProxy
      description: Get all latchel properties
      responses:
        '200':
          description: Latchel response for get all properties, ref https://papi.latchel.com/api-docs/papi/#operation/properties_index
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
  /v1/latchel/{orgId}/tenants:
    get:
      x-internal: true
      summary: Get all latchel tenants
      tags:
      - LatchelProxy
      description: Get all latchel tenants
      responses:
        '200':
          description: Latchel response for get all tenants, ref https://papi.latchel.com/api-docs/papi/#operation/tenants_index
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
  /v1/latchel/{orgId}/vendor-companies:
    get:
      x-internal: true
      summary: Get all latchel vendor companies
      tags:
      - LatchelProxy
      description: Get all latchel vendor companies
      responses:
        '200':
          description: Latchel response for get all vendor companies, ref https://papi.latchel.com/api-docs/papi/#operation/vendor_company_index
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
  /v1/latchel/{orgId}/vendor-companies/prioritized:
    get:
      x-internal: true
      summary: Get all latchel vendor companies prioritized
      tags:
      - LatchelProxy
      description: Get all latchel vendor companies prioritized
      responses:
        '200':
          description: Latchel response for get all vendor companies prioritized, ref https://papi.latchel.com/api-docs/papi/#operation/vendor_company_prioritized_index
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
  /v1/latchel/{orgId}/properties/{id}:
    get:
      x-internal: true
      summary: Get a latchel property
      tags:
      - LatchelProxy
      description: Get a latchel property
      responses:
        '200':
          description: Latchel response for get a property, ref https://papi.latchel.com/api-docs/papi/#operation/properties_get
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
  /v1/latchel/{orgId}/properties/{id}/vendor-companies:
    get:
      x-internal: true
      summary: Get a latchel property's prioritized vendors
      tags:
      - LatchelProxy
      description: Get a latchel property's prioritized vendors
      responses:
        '200':
          description: Latchel response for get a property's prioritized vendors, ref https://papi.latchel.com/api-docs/papi/#tag/Properties/paths/~1properties~1{property_id}~1vendor-companies/get
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
components:
  responses:
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 401
              error:
                type: string
                description: Error message
                enum:
                - token is not valid
                - authorization header is empty
                - authorization header is not valid
                - 'format for Authorization must be: Bearer [token]'
                - refresh token is not valid for resources
                - not well-formed token
                example: token is not valid
  securitySchemes:
    bearerAuth:
      description: Authorization key needed to use the API
      type: http
      scheme: bearer
      bearerFormat: JWT
    x-app-id:
      description: Represents the identification of you application
      type: apiKey
      name: x-app-id
      in: header
      required: true
    x-app-secret:
      description: Represents the secret for your application
      type: apiKey
      name: x-app-secret
      in: header
      required: true
