openapi: 3.1.0
info:
  title: RentCheck REST Account Settings Inspection Features API
  version: 1.0.0
  description: "\n## Mission\nAt RentCheck, our mission is plain and simple: To make renting fair and transparent for everyone involved. \nRentCheck is a property inspection solution that helps property managers save time and resources with easy self-guided inspections that residents can perform from their smartphone. \n\nWith RentCheck, property managers can avoid tenant coordination, eliminate drive time, and standardize their inspection process. \nWe provides real-time visibility to property managers and owners while bringing transparency to the security deposit deduction process.\n\n## API\nThe RentCheck API lets developers tap into the RentCheck ecosystem, building their own RentCheck-powered applications to enable inspection scheduling and creation and to leverage inspection data for a variety of use cases in the property management, maintenance, and insurance spaces.\n\nThe RentCheck REST API supports JSON requests and responses and features a resource-oriented design that generally adheres to the RFC 7321 HTTP/1.1 standard. \nOur API resources provide access to many RentCheck features, including units, buildings, communities, inspections, and residents.\n\n## Credentials\nIn addition to the Bearer Auth, RentCheck will need to send you an application ID and secret. These are required to generate the required application headers (x-app-id & x-app-secret).\nThese values can be obtained from the [RentCheck API integration page](https://app.getrentcheck.com/account/integrations/rentcheck-api).\n\n## Rate Limiting\nThe RentCheck API enforces rate limits to ensure fair usage and prevent abuse. The rate limits are as follows:\n- **Requests per second**: 8\n- **Requests per minute**: 256\n- **Requests per 10 minutes**: 1024\n\nIf you exceed the rate limits, you will receive a 429 Too Many Requests response.\n\n## Pagination\nWhen interacting with endpoints that return a list of items, the results are paginated to help manage large data sets efficiently. The following parameters control pagination:\n- **page_size** (integer): Defines the number of items returned per page. The maximum allowed value is 250. If a value larger than 250 is provided, it will be automatically clamped to 250. This ensures that the system performs optimally and prevents the server from being overwhelmed by too many items in a single response.\n  - **Maximum**: `250`\n- **page_number** (integer): Indicates the page number to retrieve. Pagination starts at `page 0`. If not specified, the first page (`page 0`) is returned by default.\n### Example Request\n```http\nGET /api/v1/inspections?page_size=300&page_number=2\n```\nIn this example, although the `page_size` parameter is set to `300` **for a query with 1500 total results**, the system will return only `250` items per page, as `300` exceeds the maximum allowed value.\n#### Example Response\n```json\n{\n    \"status\": 200,\n    \"data\": [...],\n    \"count\": 250,\n    \"total_results\": 1500\n}\n```\nThis response shows that the `page_size` has been clamped to `250`, despite the initial request for `300`.\n"
  contact:
    name: RentCheck Support
    email: support@getrentcheck.com
servers:
- url: https://prod-public-api.getrentcheck.com
  description: Production server
security:
- bearerAuth: []
  x-app-id: []
  x-app-secret: []
tags:
- name: Inspection Features
paths:
  /v1/inspections/{inspectionId}/features:
    get:
      summary: Get all features
      tags:
      - Inspection Features
      description: Get all features for a given inspection ID
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns all features
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/inspection_feature_response_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
                  total_results:
                    type: integer
                    description: Amount of total elements according to search criteria.
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found`, `property not found`, or `user not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
  /v1/inspections/{inspectionId}/features/{featureId}:
    get:
      summary: Get a feature by ID for a given inspection
      tags:
      - Inspection Features
      description: Get a feature by ID and inspection ID
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      - name: featureId
        in: path
        description: Feature ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the requested feature
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_feature_response_model'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection feature not found
                    enum:
                    - inspection not found
                    - property not found
                    - inspection feature not found
  /v1/features/{featureId}/rotatePhoto:
    put:
      x-internal: true
      summary: Rotate feature photo
      tags:
      - Inspection Features
      description: Update photo orientation in a feature
      parameters:
      - name: featureId
        in: path
        description: Inspection feature ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/feature_rotate_photo_request_model'
      responses:
        '200':
          description: Returns the status code
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: 'Forbidden — the caller is not on the inspection''s `authorized_user_ids`.

            Surfaced as `User doesn''t have permissions`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  error:
                    type: string
                    example: User doesn't have permissions
        '404':
          description: 'Not Found — the feature, the referenced photo on the feature, the

            owning inspection, or the underlying image data could not be

            located.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    enum:
                    - feature not found
                    - photoURL not found
                    - inspection not found
                    - image data not found
                    example: feature not found
  /v1/inspections/{inspectionId}/features/{featureId}/metadata:
    get:
      x-internal: true
      summary: Get image metadata for an inspection feature
      tags:
      - Inspection Features
      description: 'Returns the AI-generated image metadata documents for every photo on a single

        inspection feature. Each entry surfaces the analysis status, the inferred

        damage items, and the maintenance flags currently associated with the

        underlying feature. Available only on subscriptions whose account settings

        have AI image analysis enabled.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
          minLength: 1
      - name: featureId
        in: path
        description: Inspection feature ID (must belong to the supplied inspection)
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Returns the list of image metadata documents for the feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/image_metadata_get_all_response_model'
                  count:
                    type: integer
                    description: Number of metadata documents in the response.
                    example: 3
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: 'Forbidden — `damage detection not enabled` (the caller''s account settings do

            not have AI image analysis enabled).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  error:
                    type: string
                    example: damage detection not enabled
        '404':
          description: 'Not Found — `inspection not found` or `user not found` (the inspection access

            check fails), `inspection feature not found` (no feature with that id, or it

            does not belong to the supplied inspection), or `subscription not found`

            (the caller has no active subscription).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection feature not found
  /v1/inspections/{inspectionId}/features/{featureId}/metadata/{metadataId}:
    put:
      x-internal: true
      summary: Update image metadata for an inspection feature
      tags:
      - Inspection Features
      description: 'Patch the AI-generated image metadata document for a single photo on an

        inspection feature. Currently only `damage_items[].user_feedback` is editable

        — the supplied damage items are matched by `id` and merged onto the existing

        document. Used by the reviewer experience to ack/correct AI-inferred damage.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
          minLength: 1
      - name: featureId
        in: path
        description: Inspection feature ID (must belong to the supplied inspection)
        required: true
        schema:
          type: string
          minLength: 1
      - name: metadataId
        in: path
        description: Image metadata ID (must belong to the supplied feature)
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/image_metadata_update_request_model'
      responses:
        '200':
          description: Returns the updated image metadata document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_image_metadata'
        '400':
          description: "Bad request — request body validation failed. Examples:\n  - `\"data.damage_items[0].id\" is required`\n  - `\"data.damage_items[0].user_feedback\" must be one of [correct, incorrect]`\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    example: '"data.damage_items[0].id" is required'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: 'Not Found — `inspection not found` or `user not found` (the inspection access

            check fails), `inspection feature not found` (the feature does not exist or

            does not belong to the supplied inspection), `subscription not found`, or

            `image metadata not found`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: image metadata not found
  /v2/inspections/{inspectionId}/features/{featureId}/review/approve:
    post:
      x-internal: true
      summary: Approve a feature review
      tags:
      - Inspection Features
      description: Approves a previously requested review on a feature. Returns the updated feature.
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      - name: featureId
        in: path
        required: true
        description: Feature ID
        schema:
          type: string
      responses:
        '200':
          description: Returns the updated feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_feature'
        '400':
          description: 'Bad request — the caller''s role is not permitted to approve a feature review

            (`can''t approve a feature review as this role`).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  error:
                    type: string
                    example: can't approve a feature review as this role
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found — `feature not found` when the referenced feature cannot be

            resolved. `inspection not found` can also be returned when the parent

            inspection is missing.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    enum:
                    - feature not found
                    - inspection not found
                    example: feature not found
  /v2/inspections/{inspectionId}/features/{featureId}/flags:
    post:
      x-internal: true
      summary: Create a maintenance flag on a feature
      tags:
      - Inspection Features
      description: Adds a maintenance flag to the given feature. Returns the updated feature.
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      - name: featureId
        in: path
        required: true
        description: Feature ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/maintenance_flag_create_request_model'
      responses:
        '200':
          description: Returns the feature with the new flag attached.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_feature'
        '400':
          description: 'Bad request — typical messages: `Invalid skill provided`, plus validation

            failures on the request body fields (`note`, `skill`, `responsibility`, etc.

            — see `maintenance_flag_create_request_model`).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  error:
                    type: string
                    example: Invalid skill provided
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Forbidden — the caller does not have permission to add flags to this feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  error:
                    type: string
        '404':
          description: 'Not Found — `inspection feature not found` / `inspection not found`

            when the referenced feature or inspection cannot be resolved.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection feature not found
  /v2/inspections/{inspectionId}/features/{featureId}/flags/{flagId}:
    delete:
      x-internal: true
      summary: Delete a maintenance flag from a feature
      tags:
      - Inspection Features
      description: Removes the named maintenance flag from a feature. Returns the updated feature.
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      - name: featureId
        in: path
        required: true
        description: Feature ID
        schema:
          type: string
      - name: flagId
        in: path
        required: true
        description: Maintenance flag ID
        schema:
          type: string
      responses:
        '200':
          description: Returns the updated feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_feature'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found — `maintenance flag not found` when the supplied `flagId`

            is not present on the feature; `inspection not found` can also be

            returned when the parent inspection is missing.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: maintenance flag not found
    put:
      x-internal: true
      summary: Upsert a maintenance flag on a feature
      tags:
      - Inspection Features
      description: 'Upserts the named maintenance flag on a feature. If a flag with the

        supplied `flagId` already exists on the feature it is updated in place;

        otherwise a new flag with that id is created and merged with the request

        body. Returns the updated feature. A nonexistent `flagId` is never a

        source of 404s — once the route has matched, an unknown id triggers the

        create branch instead. (Omitting the `{flagId}` path segment entirely

        still fails because the segment is required.)

        '
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      - name: featureId
        in: path
        required: true
        description: Feature ID
        schema:
          type: string
      - name: flagId
        in: path
        required: true
        description: Maintenance flag ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/maintenance_flag_upsert_request_model'
      responses:
        '200':
          description: Returns the updated feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_feature'
        '400':
          description: 'Bad request — typical messages: `Invalid skill provided`, plus validation

            failures on the request body fields (`note`, `skill`, `responsibility`, etc.

            — see `maintenance_flag_upsert_request_model`).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  error:
                    type: string
                    example: Invalid skill provided
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found — `feature not found` or `user not found`, or `inspection

            feature not found` / `inspection not found` when the referenced feature

            or inspection cannot be resolved. A missing `flagId` is NOT a 404 —

            the endpoint creates the flag on demand.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    enum:
                    - feature not found
                    - user not found
                    - inspection feature not found
                    - inspection not found
                    example: feature not found
  /v2/inspections/{inspectionId}/features/{featureId}/revision:
    delete:
      x-internal: true
      summary: Delete a revision request on a feature
      tags:
      - Inspection Features
      description: Cancels an outstanding revision request on a feature. Returns the updated feature.
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      - name: featureId
        in: path
        required: true
        description: Feature ID
        schema:
          type: string
      responses:
        '200':
          description: Returns the updated feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_feature'
        '400':
          description: 'Bad request — the caller''s role is not permitted to delete a revision

            (`can''t delete a revision as this role`).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  error:
                    type: string
                    example: can't delete a revision as this role
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found — `inspection feature not found` / `user not found` when the

            referenced resource cannot be resolved. `inspection not found` can also

            be returned when the parent inspection is missing.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    enum:
                    - inspection feature not found
                    - user not found
                    - inspection not found
                    example: inspection feature not found
    put:
      x-internal: true
      summary: Upsert a revision request on a feature
      tags:
      - Inspection Features
      description: 'Creates or updates the revision request on a feature. Reviewers use this to ask the performer to redo a feature; the performer''s subsequent edits set `revision.updated` to true.

        '
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      - name: featureId
        in: path
        required: true
        description: Feature ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_feature_revision_request_model'
      responses:
        '200':
          description: Returns the updated feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_feature'
        '400':
          description: 'Bad request — request body validation failed, or the caller''s role is

            not permitted to request a revision (`can''t request a revision as this role`).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  error:
                    type: string
                    example: can't request a revision as this role
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found — `inspection feature not found` / `user not found` when the

            referenced resource cannot be resolved. `inspection not found` can also

            be returned when the parent inspection is missing.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    enum:
                    - inspection feature not found
                    - user not found
                    - inspection not found
                    example: inspection feature not found
  /v2/inspections/{inspectionId}/features/{featureId}/edit:
    put:
      x-internal: true
      summary: Edit an inspection feature
      tags:
      - Inspection Features
      description: 'Applies a partial update to an existing inspection feature (rating, responses, notes, media). Returns the updated feature.

        '
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      - name: featureId
        in: path
        required: true
        description: Feature ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_feature_edit_request_model'
      responses:
        '200':
          description: Returns the updated feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_feature'
        '400':
          description: 'Bad request — request body validation failed (e.g. invalid `rating`,

            unknown response key, malformed media operation).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found — `inspection feature not found` / `inspection not found` /

            `user not found` when the referenced resource cannot be resolved.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection feature not found
  /v2/inspections/{inspectionId}/features:
    get:
      x-internal: true
      summary: Get all features for an inspection (v2)
      tags:
      - Inspection Features
      description: 'Returns the list of features that belong to a single inspection. Supports two mutually-exclusive paging modes:


        - Cursor-based: pass `cursor` (the id of the last feature returned in the previous page; an empty string requests the first page). The handler iterates ordered by id ASC with a 5 MB soft response-size budget per page (returns early once a feature would push the running total past 5 MB).

        - Legacy: pass `pagination[page_number]` and `pagination[page_size]`.


        Combining `cursor` with either `pagination[page_*]` parameter is rejected.

        '
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      - in: query
        name: cursor
        schema:
          type: string
        description: 'Id of the last feature returned by a previous request. Pass an empty string to request the first cursor-based page. Mutually exclusive with `pagination[page_number]` and `pagination[page_size]`.

          '
      - in: query
        name: pagination[page_number]
        schema:
          type: integer
        description: Legacy pagination — zero-indexed page number. Mutually exclusive with `cursor`.
      - in: query
        name: pagination[page_size]
        schema:
          type: integer
        description: Legacy pagination — page size. Mutually exclusive with `cursor`.
      responses:
        '200':
          description: Returns the features for the inspection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/api_inspection_feature'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
                  total_results:
                    type: integer
                    description: Amount of total elements according to search criteria.
        '400':
          description: Bad request — `cursor` was combined with legacy pagination params.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  error:
                    type: string
                    example: 'Invalid pagination parameters: cursor cannot be combined with page_number/page_size. Use either cursor pagination or page_number/page_size.'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '413':
          description: Payload Too Large — a single feature exceeds the hard 6 MB cap.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 413
                  error:
                    type: string
                    example: A single inspection feature exceeds the maximum response size limit and cannot be returned via this endpoint.
  /v2/inspections/{inspectionId}/features/{featureId}:
    get:
      x-internal: true
      summary: Get an inspection feature by id
      tags:
      - Inspection Features
      description: Returns a single inspection feature, including its maintenance flags, media, and template settings.
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      - name: featureId
        in: path
        required: true
        description: Feature ID
        schema:
          type: string
      responses:
        '200':
          description: Returns the requested feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_feature'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found — `inspection feature not found` when the `featureId` does

            not resolve. `inspection not found` can also be returned when the

            parent inspection is missing.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection feature not found
  /v2/inspections/{inspectionId}/features/submit:
    post:
      x-internal: true
      summary: Submit an inspection feature
      tags:
      - Inspection Features
      description: 'Idempotent submit of an inspection feature. Used by the mobile app to commit a feature''s rating, notes, media, and (optionally) review/revision payload. When `id` is omitted on first submit, the API treats this as a create; subsequent submits with the same `id` update the existing feature.

        '
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_feature_submit_request_model'
      responses:
        '200':
          description: Returns the submitted feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_feature'
        '400':
          description: "Bad request — request body validation failed, or the\nfeature payload references a section / feature-name that does not\nmatch the inspection's template. The latter class of errors carry the\nfollowing message shapes:\n  - `feature name \"<name>\" for feature id \"<id>\" does not match existing feature`\n  - `section name \"<section>\" for feature id \"<id>\" does not match existing feature`\n  - `section name with ordinal \"<name_with_ordinal>\" for feature id \"<id>\" does not match existing feature`\n  - `section name \"<name>\" is not a valid section name`\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  error:
                    type: string
                    example: feature name "Front Door" for feature id "abc123" does not match existing feature
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: "Forbidden — emitted in two cases:\n  - The caller does not have permission to submit features on this\n    inspection.\n  - The inspection is not in a status that allows feature submits\n    (valid statuses are `Not Started`, `Started`, `In Review`,\n    `Revision Requested`). The error string surfaces the inspection's\n    current status and the valid list.\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  error:
                    type: string
                    example: 'inspection is not in a valid status to submit inspection features. Current status: Completed. Valid statuses: Not Started, Started, In Review, Revision Requested.'
        '404':
          description: 'Not Found — `inspection not found`, `inspection template not found`,

            `section not found`, or `user not found` when a

            referenced resource cannot be resolved.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
components:
  schemas:
    maintenance_flag_response_model:
      type: object
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        room:
          type: string
          description: Maintenance flag's room.
        feature_name:
          type: string
          description: Maintenance flag's feature name (`feature_name` on the wire — aliased from the stored `feature` field).
        feature_id:
          type: string
          description: Maintenance flag's feature ID.
        created_date:
          type: string
          description: Feature creation date, ISO format
          example: 2022-01-15 00:00:00
        created_by:
          type: object
          description: User that created the flag.
          required:
          - id
          - name
          - type
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: Name of the user that created the flag.
            type:
              type: string
              description: User type.
        responsibility:
          type: string
          description: Maintenance flag's responsibility
          enum:
          - OWNER
          - RESIDENT
          - ''
        note:
          type: string
          description: Maintenance flag's notes
        internal_note:
          type: string
          description: Maintenance flag's internal note.
        image_urls:
          type: array
          description: Maintenance flag's images
          items:
            type: string
            description: URL links to images related to the maintenance flags
        cost:
          type: number
          description: Maintenance flag's cost
        skill:
          type: string
          description: Maintenance flag's required skill.
        custom_fields:
          type: array
          description: Custom-field values captured for this flag.
          items:
            type: object
            required:
            - id
            - value
            properties:
              id:
                type: string
                description: Stable identifier of the custom field (chosen by the user when the field was created).
              value:
                type: array
                description: Selected/entered values. Always an array of strings even for single-select fields.
                items:
                  type: string
    inspection_feature_response_model:
      type: object
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        inspection_id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        created_date:
          type: string
          description: Entity creation date, in ISO format
          example: 2022-12-02 14:15:37.925000
        updated_date:
          type: string
          description: Entity last update date, in ISO format
          example: 2023-10-04 14:15:37.925000
        name:
          type: string
          description: The feature name
        section:
          type: object
          properties:
            name:
              type: string
              description: The section name
            name_with_ordinal:
              type: string
              description: The section name with ordinal
            type:
              type: string
              enum:
              - room
              - section
        notes:
          type: string
          description: The notes of the feature
        not_applicable:
          type: boolean
          description: Flag to check if the feature should be applicable or not
        rating:
          type: string
          description: The rating given to the feature
          enum:
          - Poor
          - Good
          - Fair
          - ''
        images:
          type: array
          description: Feature images
          items:
            type: string
            description: URL links to images related to the feature
        property:
          type: object
          description: Property associated with the inspection
          properties:
            id:
              type: string
              description: Selected entity's property id
              example: 00BRcZPSakXz6w7RYoE
            address:
              type: string
              description: Selected entity's property address
              example: 2001 Red Gates
            address_2:
              type: string
              description: Selected entity's property additional address info
              example: Apt. 4B
            city:
              type: string
              description: Selected entity's property city
              example: New Orleans
            region:
              type: string
              description: Selected entity's property region
              example: Orleans
            zip_code:
              type: string
              description: Selected entity's property zip_code
              example: '70130'
        responses:
          type: array
          description: Selected response IDs / free-text answers captured for this feature, in selection order.
          items:
            type: string
        maintenance_flags:
          type: array
          description: A list of maintenance flags. Items match `maintenance_flag_response_model` — `feature_name` is the feature name, `created_by` is the full creator object.
          items:
            $ref: '#/components/schemas/maintenance_flag_response_model'
        questions:
          type: array
          description: List of questions and their responses
          items:
            type: object
            properties:
              id:
                type: string
                description: Entity ID
                example: 00BRcZPSakXz6w7RYoE
              title:
                type: string
                description: Question title
              type:
                type: string
                description: Question type
                enum:
                - yes/no
                - free text
                - multiple choice
                - asset capture
              answer_type:
                type: string
                description: Answer type
                enum:
                - single
                - multi
              asset_category:
                type: string
                description: Asset Category
                enum:
                - Air Filter
                - Air Conditioner
                - Air Handler Unit (AHU)
                - Barbecue Grill
                - Bathroom Heater
                - Cooktop
                - Condenser
                - Dishwasher
                - Dryer
                - Electric Fireplace
                - Evaporator
                - Freezer
                - Furnace
                - Furnace (AHU)
                - Garbage Disposal
                - Heat Pump
                - Microwave
                - Package Unit
                - Pool Heater
                - PTAC
                - Range Hood
                - Range
                - Refrigerator
                - Stackable Laundry
                - Thermostat
                - Wall Oven
                - Washer
                - Water Heater
                - Other
              answers:
                type: object
                properties:
                  id:
                    type: string
                    description: Entity ID
                    example: 00BRcZPSakXz6w7RYoE
                  title:
                    type: string
                    description: Answer title
                  requires_photo:
                    type: boolean
                  requires_note:
                    type: boolean
    feature_rotate_photo_request_model:
      type: object
      required:
      - photo_url
      properties:
        photo_url:
          type: string
          description: URL for the image that needs to be rotated
        angle:
          type: number
    inspection_feature_revision_request_model:
      x-internal: true
      type: object
      description: Partial revision payload.
      properties:
        notes:
          type: string
          nullable: true
        updated:
          type: boolean
    image_metadata_update_request_model:
      type: object
      description: Partial update for a single image metadata document. Currently only `damage_items` is editable, and entries are matched by their `id`.
      properties:
        damage_items:
          type: array
          description: Subset of damage items to update. Each entry must include the existing `id` of the damage item being patched.
          items:
            type: object
            required:
            - id
            properties:
              id:
                type: string
                description: Entity ID
                example: 00BRcZPSakXz6w7RYoE
              user_feedback:
                type: string
                enum:
                - correct
                - incorrect
                description: User feedback acknowledging or correcting the inferred damage.
    api_image_metadata:
      type: object
      required:
      - id
      - status
      - inspection_feature
      - damage_items
      - associated_flags
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        status:
          type: string
          enum:
          - THROTTLED
          - CREATED
          - PROCESSING
          - PROCESSED
          - FAILED
          description: Lifecycle status of the AI image-analysis run for this metadata document.
        inspection_feature:
          type: object
          required:
          - id
          - image_key
          - inspection_id
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            image_key:
              type: string
              description: Storage key for the analyzed image.
            inspection_id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
        damage_items:
          type: array
          items:
            $ref: '#/components/schemas/api_image_metadata_damage_item'
        associated_flags:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Maintenance flags on the underlying inspection feature that this image is currently associated with.
    image_metadata_get_all_response_model:
      type: array
      items:
        $ref: '#/components/schemas/api_image_metadata'
    api_inspection_feature:
      x-internal: true
      type: object
      description: '`created_by`/`updated_by`/`review.reviewed_by` are full user snapshots, and `inspection` is a basic inspection snapshot (not a custom truncated shape). `review` and `revision` are always emitted (nullable when absent).'
      required:
      - id
      - name
      - description
      - section
      - created_by
      - created_at
      - updated_by
      - updated_at
      - inspection
      - rating
      - notes
      - not_applicable
      - incomplete
      - review
      - revision
      - template_settings
      - maintenance_flags
      - media
      - questions
      - responses
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        name:
          type: string
          description: The feature name.
        description:
          type: string
          description: Long-form description of the feature.
        section:
          type: object
          required:
          - name
          - name_with_ordinal
          - type
          properties:
            name:
              type: string
              description: Section name.
            name_with_ordinal:
              type: string
              description: Section name with its ordinal (e.g. `Bedroom 1`).
            type:
              type: string
              enum:
              - room
              - section
        created_by:
          type: object
          required:
          - id
          - name
          - email
          - type
          description: Basic user identity fields.
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: Name of the user
            email:
              type: string
              description: Email of the user
            type:
              type: string
              enum:
              - Renter
              - Property Manager
              - Landlord
              - System
              description: User type discriminator.
        created_at:
          type: string
          format: date-time
        updated_by:
          type: object
          required:
          - id
          - name
          - email
          - type
          description: Basic user identity fields.
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: Name of the user
            email:
              type: string
              description: Email of the user
            type:
              type: string
              enum:
              - Renter
              - Property Manager
              - Landlord
              - System
              description: User type discriminator.
        updated_at:
          type: string
          format: date-time
        inspection:
          type: object
          required:
          - id
          - label
          - due_date
          - inspection_template
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            label:
              type: string
              description: Inspection label.
            due_date:
              type: string
              description: The inspection due date (legacy) is the original date by which the recipient must complete the inspection.
              example: 2021-12-02 14:15:37.925000
            inspection_template:
              type: object
              required:
              - id
              - name
              - internal_label
              - property_type
              - display_name
              properties:
                id:
                  type: string
                  description: Inspection template identifier
                name:
                  type: string
                  description: Inspection template name.
                internal_label:
                  type: string
                  description: Inspection template internal label.
                property_type:
                  type: string
                  description: Inspection template property type.
                display_name:
                  type: string
                  description: Resolved display name for the inspection template, used by clients to render the template title (mirrors `name` for legacy templates).
          description: Basic info for the inspection the feature belongs to.
        rating:
          type: string
          nullable: true
          enum:
          - Poor
          - Good
          - Fair
          - ''
          description: Feature rating, or null when not rated.
        notes:
          type: string
          nullable: true
        not_applicable:
          type: boolean
        incomplete:
          type: boolean
        review:
          type: object
          nullable: true
          properties:
            approved:
              type: boolean
            reviewed_by:
              type: object
              required:
              - id
              - name
              - email
              - type
              description: Basic user identity fields.
              properties:
                id:
                  type: string
                  description: Entity ID
                  example: 00BRcZPSakXz6w7RYoE
                name:
                  type: string
                  description: Name of the user
                email:
                  type: string
                  description: Email of the user
                type:
                  type: string
                  enum:
                  - Renter
                  - Property Manager
                  - Landlord
                  - System
                  description: User type discriminator.
            reviewed_at:
              type: string
              format: date-time
            notes:
              type: string
              nullable: true
        revision:
          type: object
          nullable: true
          properties:
            notes:
              type: string
              nullable: true
            updated:
              type: boolean
              description: True when the performer has updated the feature since the revision was requested.
        template_settings:
          type: object
          properties:
            is_rating_required:
              type: boolean
            is_video_enabled:
              type: boolean
            number_of_photos_required:
              type: integer
            reference_photos:
              type: array
              items:
                type: string
        maintenance_flags:
          type: array
          items:
            $ref: '#/components/schemas/api_maintenance_flag_with_media'
        media:
          type: array
          items:
            $ref: '#/components/schemas/api_inspection_feature_media'
        questions:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Template questions for this feature.
        responses:
          type: array
          items:
            type: string
          description: Answers given to the template questions.
    inspection_feature_edit_request_model:
      x-internal: true
      type: object
      description: Partial update to an existing inspection feature.
      properties:
        rating:
          type: string
          enum:
          - Poor
          - Good
          - Fair
          - ''
        responses:
          type: array
          items:
            type: string
        notes:
          type: string
        media:
          type: array
          items:
            $ref: '#/components/schemas/inspection_feature_media_input_model'
    api_image_metadata_damage_item:
      type: object
      required:
      - id
      - damage_type
      - damage_description
      - damage_severity
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        damage_type:
          type: string
          description: The type of damage incurred.
        damage_description:
          type: string
          description: A description providing details about the damage.
        damage_severity:
          type: number
          minimum: 1
          maximum: 10
          description: Severity rating from 1 to 10, where 10 is the most severe.
        skill_guess:
          type: string
          description: Skill guess inferred by the image-analysis pipeline that maps to the damage item.
        user_feedback:
          type: string
          enum:
          - correct
          - incorrect
          description: Optional user feedback acknowledging or correcting the inferred damage.
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Model-reported confidence (0-1) that this is real damage rather than normal wear, a reflection, a shadow, or dust. Populated by both the Gemini-backed and OpenAI damage-detection paths. Absent on damage items persisted before this field was added.
        polygon:
          type: array
          description: Optional polygon outlining the damage region. Each vertex is an `{x, y}` object in 0-1 normalized image coordinates (top-left origin). Populated by the Gemini-backed damage-detection path; the OpenAI path leaves this field undefined. Typical polygons have 12-24 vertices.
          items:
            type: object
            required:
            - x
            - y
            properties:
              x:
                type: number
                minimum: 0
                maximum: 1
                description: Horizontal coordinate of the vertex, normalized to the image width (0 = left edge, 1 = right edge).
              y:
                type: number
                minimum: 0
                maximum: 1
                description: Vertical coordinate of the vertex, normalized to the image height (0 = top edge, 1 = bottom edge).
    inspection_feature_media_input_model:
      x-internal: true
      type: object
      required:
      - path
      - type
      properties:
        path:
          type: string
        type:
          type: string
          enum:
          - image
          - video
          - 360-image
        flags:
          type: array
          items:
            type: string
            enum:
            - -revision
            - -review
            - -camera-roll
            - -360-image
            - -dualfisheye
            - -equirectangular
        image_metadata:
          type: object
          additionalProperties: true
        links:
          type: array
          items:
            type: object
            required:
            - type
            - linked_object_id
            properties:
              type:
                type: string
                enum:
                - no_answer
              linked_object_id:
                type: string
        operation:
          type: string
          enum:
          - add
          - remove
          - keep
          description: Optional on submit; when omitted the entry is treated as an implicit `add` for legacy clients.
    maintenance_flag_upsert_request_model:
      x-internal: true
      type: object
      description: Partial update to an existing maintenance flag. All fields from `maintenance_flag_create_request_model` are accepted as optional.
      properties:
        note:
          type: string
        internal_note:
          type: string
        responsibility:
          type: string
          enum:
          - OWNER
          - RESIDENT
          - ''
        cost:
          type: number
        skill:
          type: string
        image_urls:
          type: array
          items:
            type: string
        video_urls:
          type: array
          items:
            type: string
        vendor:
          type: string
          enum:
          - Latchel
          - AppFolio
          - Yardi
          - Jenark
          - RentCheck
          - Rent Manager
          - Rentvine
        custom_fields:
          type: array
          items:
            type: object
            required:
            - id
            - value
            properties:
              id:
                type: string
              value:
                type: array
                items:
                  type: string
        damage_item_ids:
          type: array
          items:
            type: string
    inspection_feature_submit_request_model:
      x-internal: true
      type: object
      required:
      - name
      - section
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        name:
          type: string
        section:
          type: object
          required:
          - name
          - name_with_ordinal
          - type
          properties:
            name:
              type: string
            name_with_ordinal:
              type: string
            type:
              type: string
              enum:
              - room
              - section
        rating:
          type: string
          nullable: true
          enum:
          - Poor
          - Good
          - Fair
          - ''
        notes:
          type: string
          nullable: true
        not_applicable:
          type: boolean
        responses:
          type: array
          items:
            type: string
        media:
          type: array
          items:
            $ref: '#/components/schemas/inspection_feature_media_input_model'
        maintenance_flags:
          type: array
          description: Maintenance flags to upsert alongside the feature. Each entry uses the input variant so inner `media.operation` may be omitted (legacy compatibility).
          items:
            $ref: '#/components/schemas/api_maintenance_flag_with_media_input'
        review:
          type: object
          properties:
            notes:
              type: string
              nullable: true
        revision:
          type: object
          properties:
            notes:
              type: string
              nullable: true
    api_inspection_feature_media:
      x-internal: true
      type: object
      required:
      - path
      - type
      - flags
      - links
      - operation
      properties:
        path:
          type: string
          description: Storage path or URL for the media item.
        type:
          type: string
          enum:
          - image
          - video
          - 360-image
          description: Media type.
        flags:
          type: array
          description: Media role suffixes.
          items:
            type: string
            enum:
            - -revision
            - -review
            - -camera-roll
            - -360-image
            - -dualfisheye
            - -equirectangular
        image_metadata:
          type: object
          description: Optional image metadata extracted by the AI pipeline.
          additionalProperties: true
        links:
          type: array
          description: Cross-references to other inspection objects this media is linked to.
          items:
            type: object
            required:
            - type
            - linked_object_id
            properties:
              type:
                type: string
                enum:
                - no_answer
              linked_object_id:
                type: string
                description: Id of the linked object.
        operation:
          type: string
          enum:
          - add
          - remove
          - keep
          description: Collaborative-edit operation for the media item. On submit endpoints `operation` is optional and an omitted value is treated as `add` for legacy clients.
    maintenance_flag_create_request_model:
      x-internal: true
      type: object
      required:
      - note
      - skill
      properties:
        note:
          type: string
        internal_note:
          type: string
        responsibility:
          type: string
          enum:
          - OWNER
          - RESIDENT
          - ''
        cost:
          type: number
        skill:
          type: string
        image_urls:
          type: array
          items:
            type: string
        video_urls:
          type: array
          items:
            type: string
        vendor:
          type: string
          enum:
          - Latchel
          - AppFolio
          - Yardi
          - Jenark
          - RentCheck
          - Rent Manager
          - Rentvine
        custom_fields:
          type: array
          items:
            type: object
            required:
            - id
            - value
            properties:
              id:
                type: string
              value:
                type: array
                items:
                  type: string
        damage_item_ids:
          type: array
          items:
            type: string
    api_maintenance_flag_with_media_input:
      x-internal: true
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        feature_id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        note:
          type: string
          description: Maintenance flag's note.
        internal_note:
          type: string
          description: Maintenance flag's internal note.
        skill:
          type: string
          description: Required skill to address this flag.
        vendor:
          type: string
          enum:
          - Latchel
          - AppFolio
          - Yardi
          - Jenark
          - RentCheck
          - Rent Manager
          - Rentvine
          description: Vendor assigned to address the flag, when set.
        cost:
          type: number
          description: Estimated or actual cost.
        responsibility:
          type: string
          enum:
          - OWNER
          - RESIDENT
          - ''
          description: Party responsible for the flag.
        custom_fields:
          type: array
          description: Caller-defined custom fields keyed by id, each holding a list of selected values.
          items:
            type: object
            required:
            - id
            - value
            properties:
              id:
                type: string
              value:
                type: array
                items:
                  type: string
        linked_damage_item_ids:
          type: array
          items:
            type: string
          description: Ids of damage items this flag is linked to (when the AI damage pipeline produced any).
        media:
          type: array
          description: Structured media entries. Items use the input variant so `operation` may be omitted (treated as an implicit `add` for legacy clients).
          items:
            $ref: '#/components/schemas/inspection_feature_media_input_model'
        operation:
          type: string
          enum:
          - add
          - remove
          - keep
          description: Collaborative-edit operation for the flag. Optional — when omitted on submit the entry is treated as an implicit `add` for legacy clients.
    api_maintenance_flag_with_media:
      x-internal: true
      type: object
      description: Returns full user / inspection / work-order / maintenance-report snapshots alongside the flag. `operation` is omitted on responses (it is a client-supplied hint on submit — see the `api_maintenance_flag_with_media_input` variant).
      required:
      - id
      - feature_id
      - feature
      - section
      - note
      - internal_note
      - vendor
      - skill
      - cost
      - responsibility
      - custom_fields
      - media
      - created_by
      - created_date
      - inspection
      - maintenance_reports
      - work_orders
      - linked_damage_item_ids
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        feature_id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        feature:
          type: string
          description: Maintenance flag's feature name (copied from the parent feature).
        section:
          type: object
          required:
          - name
          - name_with_ordinal
          - type
          description: Section the feature belongs to.
          properties:
            name:
              type: string
              description: The section name for the feature
              example: Hallway
            name_with_ordinal:
              type: string
              description: The section name with ordinal for the feature. This is only different from section for rooms like Bedroom, Bathroom, etc
              example: First Bedroom
            type:
              type: string
              description: The section type for the feature as it was defined in the template
              enum:
              - room
              - section
              example: room
        note:
          type: string
          description: Maintenance flag's note.
        internal_note:
          type: string
          description: Maintenance flag's internal note.
        skill:
          type: string
          description: Required skill to address this flag.
        vendor:
          type: string
          enum:
          - Latchel
          - AppFolio
          - Yardi
          - Jenark
          - RentCheck
          - Rent Manager
          - Rentvine
          description: Vendor assigned to address the flag, when set.
        cost:
          type: number
          description: Estimated or actual cost.
        responsibility:
          type: string
          enum:
          - OWNER
          - RESIDENT
          - ''
          description: Party responsible for the flag.
        custom_fields:
          type: array
          description: Caller-defined custom fields keyed by id, each holding a list of selected values.
          items:
            type: object
            required:
            - id
            - value
            properties:
              id:
                type: string
              value:
                type: array
                items:
                  type: string
        created_date:
          type: string
          description: Flag creation date, ISO format.
          example: 2022-01-15 00:00:00
        created_by:
          type: object
          description: Basic identifying info for the user that created the flag.
          required:
          - id
          - name
          - email
          - type
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
            email:
              type: string
            type:
              type: string
              enum:
              - Renter
              - Property Manager
              - Landlord
              - System
              description: User type discriminator.
        inspection:
          type: object
          required:
          - id
          - label
          - due_date
          - inspection_template
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            label:
              type: string
              description: Inspection label.
            due_date:
              type: string
              description: The inspection due date (legacy) is the original date by which the recipient must complete the inspection.
              example: 2021-12-02 14:15:37.925000
            inspection_template:
              type: object
              required:
              - id
              - name
              - internal_label
              - property_type
              - display_name
              properties:
                id:
                  type: string
                  description: Inspection template identifier
                name:
                  type: string
                  description: Inspection template name.
                internal_label:
                  type: string
                  description: Inspection template internal label.
                property_type:
                  type: string
                  description: Inspection template property type.
                display_name:
                  type: string
                  description: Resolved display name for the inspection template, used by clients to render the template title (mirrors `name` for legacy templates).
          description: Basic info for the inspection the flag belongs to.
        maintenance_reports:
          type: array
          description: Maintenance reports the flag has been included in. Retained for schema compatibility, but always emitted as `[]`.
          items:
            type: object
            required:
            - id
            - name
            properties:
              id:
                type: string
                description: Entity ID
                example: 00BRcZPSakXz6w7RYoE
              name:
                type: string
        work_orders:
          type: array
          description: Work orders the flag has been included in.
          items:
            type: object
            required:
            - id
            - name
            properties:
              id:
                type: string
                description: Entity ID
                example: 00BRcZPSakXz6w7RYoE
              name:
                type: string
        linked_damage_item_ids:
          type: array
          items:
            type: string
          description: Ids of damage items this flag is linked to (when the AI damage pipeline produced any).
        media:
          type: array
          description: Replaces the legacy `image_urls`/`video_urls` lists with structured media entries.
          items:
            $ref: '#/components/schemas/api_inspection_feature_media'
        operation:
          type: string
          enum:
          - add
          - remove
          - keep
          description: Collaborative-edit operation for the flag itself. Optional — omitted on API responses; set by clients during submit. When omitted on submit, the entry is treated as an implicit `add` for legacy clients.
  responses:
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 401
              error:
                type: string
                description: Error message
                enum:
                - token is not valid
                - authorization header is empty
                - authorization header is not valid
                - 'format for Authorization must be: Bearer [token]'
                - refresh token is not valid for resources
                - not well-formed token
                example: token is not valid
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 403
              error:
                type: string
                description: Error message describing why the caller is not allowed to perform the action.
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 404
              error:
                type: string
                description: Error message describing the missing resource
                example: property not found
  securitySchemes:
    bearerAuth:
      description: Authorization key needed to use the API
      type: http
      scheme: bearer
      bearerFormat: JWT
    x-app-id:
      description: Represents the identification of you application
      type: apiKey
      name: x-app-id
      in: header
      required: true
    x-app-secret:
      description: Represents the secret for your application
      type: apiKey
      name: x-app-secret
      in: header
      required: true
