openapi: 3.1.0
info:
  title: RentCheck REST Account Settings Inspections API
  version: 1.0.0
  description: "\n## Mission\nAt RentCheck, our mission is plain and simple: To make renting fair and transparent for everyone involved. \nRentCheck is a property inspection solution that helps property managers save time and resources with easy self-guided inspections that residents can perform from their smartphone. \n\nWith RentCheck, property managers can avoid tenant coordination, eliminate drive time, and standardize their inspection process. \nWe provides real-time visibility to property managers and owners while bringing transparency to the security deposit deduction process.\n\n## API\nThe RentCheck API lets developers tap into the RentCheck ecosystem, building their own RentCheck-powered applications to enable inspection scheduling and creation and to leverage inspection data for a variety of use cases in the property management, maintenance, and insurance spaces.\n\nThe RentCheck REST API supports JSON requests and responses and features a resource-oriented design that generally adheres to the RFC 7321 HTTP/1.1 standard. \nOur API resources provide access to many RentCheck features, including units, buildings, communities, inspections, and residents.\n\n## Credentials\nIn addition to the Bearer Auth, RentCheck will need to send you an application ID and secret. These are required to generate the required application headers (x-app-id & x-app-secret).\nThese values can be obtained from the [RentCheck API integration page](https://app.getrentcheck.com/account/integrations/rentcheck-api).\n\n## Rate Limiting\nThe RentCheck API enforces rate limits to ensure fair usage and prevent abuse. The rate limits are as follows:\n- **Requests per second**: 8\n- **Requests per minute**: 256\n- **Requests per 10 minutes**: 1024\n\nIf you exceed the rate limits, you will receive a 429 Too Many Requests response.\n\n## Pagination\nWhen interacting with endpoints that return a list of items, the results are paginated to help manage large data sets efficiently. The following parameters control pagination:\n- **page_size** (integer): Defines the number of items returned per page. The maximum allowed value is 250. If a value larger than 250 is provided, it will be automatically clamped to 250. This ensures that the system performs optimally and prevents the server from being overwhelmed by too many items in a single response.\n  - **Maximum**: `250`\n- **page_number** (integer): Indicates the page number to retrieve. Pagination starts at `page 0`. If not specified, the first page (`page 0`) is returned by default.\n### Example Request\n```http\nGET /api/v1/inspections?page_size=300&page_number=2\n```\nIn this example, although the `page_size` parameter is set to `300` **for a query with 1500 total results**, the system will return only `250` items per page, as `300` exceeds the maximum allowed value.\n#### Example Response\n```json\n{\n    \"status\": 200,\n    \"data\": [...],\n    \"count\": 250,\n    \"total_results\": 1500\n}\n```\nThis response shows that the `page_size` has been clamped to `250`, despite the initial request for `300`.\n"
  contact:
    name: RentCheck Support
    email: support@getrentcheck.com
servers:
- url: https://prod-public-api.getrentcheck.com
  description: Production server
security:
- bearerAuth: []
  x-app-id: []
  x-app-secret: []
tags:
- name: Inspections
paths:
  /v1/inspections/{inspectionId}/events:
    post:
      x-internal: true
      summary: Record an event against an inspection
      tags:
      - Inspections
      description: 'Appends a single event to an inspection''s timeline. Used by internal

        surfaces (web/mobile) to record activity such as reminder sends,

        signature requests, reviewer notes, etc.


        The request body accepts every inspection event type except

        `inspection_invitee_self_removed`, which is generated server-side.

        '
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_event_create_request_model'
      responses:
        '200':
          description: Returns the created event.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_event'
        '400':
          description: Bad request — `type` is missing or not a valid inspection event type.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found`, or `user not found` when the authenticated userId no longer resolves.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
    get:
      x-internal: true
      summary: Get all events for an inspection
      tags:
      - Inspections
      description: 'Returns the timeline of events recorded against an inspection (status

        changes, reminders, signature requests, reviewer activity, etc.).


        The caller must already have access to the inspection — the same access

        check used by `GET /v1/inspections/{inspectionId}` runs first and

        surfaces the standard 404 / permission errors.

        '
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Returns the inspection's events ordered by timestamp.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_events_get_all_response_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
  /v1/inspections/{inspectionId}/rate:
    post:
      x-internal: true
      summary: Rate an inspection
      tags:
      - Inspections
      description: 'Records a numeric rating and free-form feedback left by the performer about the inspection

        experience. Displayed alongside the inspection in the dashboard.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_rate_request_model'
      responses:
        '200':
          description: Returns the stored rating.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_rate_response_model'
        '400':
          description: 'Bad request — request body validation failed (e.g. `data.rating` is not an integer

            between 1 and 5, `data.feedback` is shorter than 3 characters).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: 'Not Found — `inspection not found` or `user not found`. The

            underlying access check maps missing-user and permission failures to

            these strings.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
  /v1/inspections/{inspectionId}/reject:
    post:
      x-internal: true
      summary: Reject an inspection
      tags:
      - Inspections
      description: 'Rejects a submitted inspection with a note and a new due date, optionally flagging specific

        features that require revision. Sends notifications to the original performer(s). The response

        body lists the email events emitted as part of the rejection notification.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_reject_request_model'
      responses:
        '200':
          description: Returns the list of email events emitted by the rejection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_reject_response_model'
        '400':
          description: 'Bad request — request body validation failed. Messages include

            `"data.rejection.note" is required`, `"data.rejection.due_date" is required`,

            and `"data.rejection.features" is required`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found` or `user not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
  /v1/inspections/reminders:
    post:
      x-internal: true
      summary: Send reminders for one or more inspections
      tags:
      - Inspections
      description: 'Sends an email and/or sms reminder about one or more inspection invites. The request body

        groups recipients by invite; the response surfaces per-channel success and error breakdowns

        so the caller can report partial failures.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_send_reminders_request_model'
      responses:
        '200':
          description: Returns the per-channel reminder status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_send_reminders_response_model'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    enum:
                    - recipients is missing
                    - message is missing
                    - channels is missing
                    example: recipients is missing
        '401':
          $ref: '#/components/responses/inspection_access_unauthorized'
  /v1/inspections/{inspectionId}/scan:
    post:
      x-internal: true
      summary: Queue a manual AI damage scan for an inspection
      tags:
      - Inspections
      description: "Enqueues a manual AI damage-detection scan against a completed inspection\nand returns the throttle record clients poll for progress.\n\nGuards enforced before enqueue:\n  - Caller must be on an active Pro Plan (returns 404 `subscription not found`\n    when no subscription record exists, otherwise 403 with the\n    Pro-Plan-required message).\n  - The account must have manual AI damage detection enabled.\n  - The inspection must exist, be completed, and have inspection metadata.\n  - The inspection must not already have a previous scan.\n  - The caller must have manual-scan permissions and access to the\n    inspection.\n"
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the queued throttle record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_manual_scan_response_model'
        '400':
          description: 'Bad request — the inspection exists but is not yet completed.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    enum:
                    - Inspection is not completed
                    example: Inspection is not completed
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: 'Forbidden — the caller is on a non-Pro or inactive plan, the org has

            manual scanning disabled (`Manual sync setting is false for subscription`),

            the caller lacks the manual-scan permission (`invalid permissions`), or

            the caller lacks access to the inspection team

            (`User must be a member of the team`).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  error:
                    type: string
                    enum:
                    - This feature is only available on the Professional plan.
                    - Manual sync setting is false for subscription
                    - invalid permissions
                    - User must be a member of the team
                    example: invalid permissions
        '404':
          description: 'Not Found — the caller has no subscription (`subscription not found`),

            the target inspection does not exist (`inspection not found`), or its

            inspection metadata is missing (`inspection metadata not found`).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    enum:
                    - subscription not found
                    - inspection not found
                    - inspection metadata not found
                    example: inspection not found
        '409':
          description: 'Conflict — a previous scan already exists for this inspection.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 409
                  error:
                    type: string
                    enum:
                    - Inspection has already had a manual scan
                    example: Inspection has already had a manual scan
        '500':
          description: 'Internal server error — the throttle queue rejected the enqueue.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  error:
                    type: string
                    enum:
                    - Unable to queue inspection scan
                    example: Unable to queue inspection scan
  /v1/inspections/{inspectionId}/share:
    post:
      x-internal: true
      summary: Share an inspection PDF
      tags:
      - Inspections
      description: 'Queues a PDF copy of the inspection report and emails it to the provided recipients.

        PDF generation and email delivery happen asynchronously — the response contains a

        `fileRequestId` that can be polled via `GET /v1/fileRequests/{fileRequestId}` for status.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_share_request_model'
      responses:
        '201':
          description: Returns the created file request ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 201
                  data:
                    $ref: '#/components/schemas/file_request_response_model'
        '400':
          description: "Bad request — returned when:\n- `send_to` is missing, empty, or contains an invalid email address\n- The inspection at `{inspectionId}` cannot be resolved or the caller\n  lacks access to it (surfaced as `document_id has an invalid value`,\n  not a 404)\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    example: document_id has an invalid value
        '401':
          $ref: '#/components/responses/401'
  /v1/inspections/{inspectionId}/sign:
    post:
      x-internal: true
      summary: Sign an inspection
      tags:
      - Inspections
      description: 'Attaches a performer signature to the inspection. The `signature_path` is the storage key of an

        image previously uploaded to the RentCheck image bucket. Used by the mobile inspection flow.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_sign_request_model'
      responses:
        '200':
          description: Returns the inspection updated with the signature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_v1_response_model'
        '400':
          description: 'Bad request — request body validation failed. `signature_path` is required, and

            `note`, when supplied, must be a string.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    example: '"signature_path" is required'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found` (the underlying access check fails for a missing inspection or user).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
        '500':
          description: 'Internal server error — surfaces when the inspection signing guard

            rejects the sign attempt; the guard''s reason string is returned as a

            500 instead of a 403.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  error:
                    type: string
  /v1/inspections/{inspectionId}/start:
    post:
      x-internal: true
      summary: Start an inspection
      tags:
      - Inspections
      description: 'Marks an inspection as started by the authenticated user. Used by the mobile performer flow. The

        response body is the inspection as returned by `GET /v1/inspections/{inspectionId}`.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        description: 'The body is required by request validation but takes no fields today —

          send an empty JSON object `{}`.

          '
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the updated inspection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_v1_response_model'
        '400':
          description: 'Bad request — the request body must be a JSON object; non-object bodies (string, array,

            primitive) are rejected by request validation.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    example: '"data" must be an object'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found` or `user not found` (the underlying access check fails).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
  /v1/inspections/{inspectionId}/submit:
    post:
      x-internal: true
      summary: Submit an inspection
      tags:
      - Inspections
      description: 'Submits a performed inspection for review. Moves the inspection out of `In Progress` and

        notifies reviewers. Used by the mobile performer flow after features have been filled in.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_submit_request_model'
      responses:
        '200':
          description: Returns the updated inspection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_v1_response_model'
        '400':
          description: 'Bad request — request body validation failed. `note`, when supplied, must be a

            string; a non-object body is rejected.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    example: '"note" must be a string'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Forbidden — the caller doesn't have permission to submit this inspection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  error:
                    type: string
        '404':
          description: 'Not Found — `user not found` or `inspection not found`. The

            access guard returns `user not found` when the caller''s profile cannot

            be loaded and `inspection not found` when the inspection does not exist

            or the caller cannot read it. `inspection not found` can also be

            returned post-update if the update does not persist.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    enum:
                    - user not found
                    - inspection not found
                    example: inspection not found
  /v1/inspections/{inspectionId}/approve:
    post:
      summary: Approve inspection
      tags:
      - Inspections
      description: 'Approve an inspection with the given ID. Approval requires a signature, provided either as text

        (`signature_text`) or as a base64-encoded image (`signature_image_data`). An optional numeric

        `rating`, free-form `note`, and `user_facing_note` (displayed to the performer) can also be

        supplied.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_approve_request_model'
      responses:
        '200':
          description: Returns the approved inspection
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_v1_response_model'
        '400':
          description: 'Bad request — request body validation failed. Typical messages mention an

            xor conflict between `data.signature_text` and `data.signature_image_data` (exactly one

            must be supplied), or a malformed `data.rating` / `data.note` / `data.user_facing_note`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: 'Forbidden — the caller can''t approve this inspection. The `error` message states why: the inspection is not in an approvable state (e.g. already approved), the caller lacks permission, or a required first-step review hasn''t been completed.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 403
                  error:
                    type: string
                    example: You don't have permission to approve this inspection.
        '404':
          description: 'Not Found — `inspection not found`, `user not found`,

            `performer not found`, or

            `signature text or image data not found`. The underlying access

            check maps missing-user lookups to `user not found`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
  /v1/inspections/invites/accept:
    patch:
      summary: Accept invite
      tags:
      - Inspections
      description: Accept an inspection invite. When `reference_code` is passed it will search for that invite and accept it, otherwise it will search all invites for that user and accept them. A JSON body is always required — omitting the body surfaces as a 500.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_invite_accept_request_model'
      responses:
        '200':
          description: Returns the updated inspection
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/api_invite_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '400':
          description: 'Bad request — `reference_code`, when supplied, must be either 4 or 6

            characters long. Any other length is rejected with an "alternatives"

            match failure.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    example: '"data.reference_code" does not match any of the allowed types'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `invite not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: invite not found
        '409':
          description: 'Conflict — the invite has already been claimed by a different user.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 409
                  error:
                    type: string
                    enum:
                    - This invite code has already been claimed by another user.
                    example: This invite code has already been claimed by another user.
  /v1/inspections/invites:
    get:
      summary: Get all inspection invites
      tags:
      - Inspections
      description: This resource retrieves all invites available for a given user.
      responses:
        '200':
          description: Returns all invites
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/api_invite_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '401':
          $ref: '#/components/responses/401'
  /v1/inspections/{inspectionId}/review:
    delete:
      summary: Cancel inspection review
      tags:
      - Inspections
      description: 'Cancel inspection review. The caller must have permission to access the

        inspection — the inspection owner qualifies, plus any user granted access

        via the inspection''s permission group.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the updated inspection
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_v1_response_model'
        '400':
          description: 'Bad request — examples include `inspection.review is missing`,

            `inspection status does not support cancelling review request`,

            `inspection assignment type does not support cancelling review request`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/inspection_access_unauthorized'
        '404':
          description: Not Found — `inspection not found` or `user not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
    post:
      summary: Review an inspection
      tags:
      - Inspections
      description: 'Review an inspection. The caller must have permission to access the

        inspection — the inspection owner qualifies, plus any user granted access

        via the inspection''s permission group.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_review_request_model'
      responses:
        '200':
          description: Returns the updated inspection
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_v1_response_model'
        '400':
          description: 'Bad request — examples include `Cannot send an inspection review request to yourself. Please choose another recipient.`,

            `assigned_recipients.type has an invalid value: <type>`, `inspection_status has an invalid value: <status>`,

            plus request body validation failures (e.g. `"data.recipients" must contain at least 1 items`).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/inspection_access_unauthorized'
        '404':
          description: Not Found — `inspection not found` or `user not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
  /v1/inspections/{inspectionId}/skills:
    get:
      summary: Get all inspection skills
      tags:
      - Inspections
      description: This resource retrieves all skills for creating maintenance flags available for a given inspection.
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns all skills
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/inspection_skills_get_all_response_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found` or `user not found` (the underlying access check fails).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
  /v1/inspections/{inspectionId}:
    delete:
      x-internal: true
      summary: Remove the current renter from an inspection
      tags:
      - Inspections
      description: 'Removes the current performer (renter) from the inspection and records a removal reason. This is

        used by the mobile flow when a resident is moving out or a duplicate invite needs to be

        cleaned up. Returns 204 with no content on success.


        Note: this `DELETE /v1/inspections/{inspectionId}` route is distinct from the bulk

        `DELETE /v1/inspections?id[]=...` endpoint, which deletes inspections by id.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_remove_renter_request_model'
      responses:
        '204':
          description: Renter successfully removed.
        '400':
          description: "Bad request — request body validation failed or the caller is not a\nrenter / the inspection is in a non-removable status. Example error\nstrings:\n  - `\"reason\" must be one of [moved-out, duplicate]`\n  - `\"reason\" is required`\n  - `only renters are allowed to perform this action`\n  - `only inspections with the following statuses can be deleted: Not Started, Started, In Review, Revision Requested.`\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
    get:
      summary: Get an inspection by ID
      tags:
      - Inspections
      description: Get an inspection by ID. Returns the full inspection document with template, health score, feature ratings, permissions, and associated sync data.
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Returns the requested inspection
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_v1_response_model'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found` or `user not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
    put:
      summary: Update an inspection
      tags:
      - Inspections
      description: 'Update parameters of an inspection. The list of fields that can be updated depends on the current

        status of the inspection: `x_id`, `inspection_label`, `archived`, `status`, and

        `is_initial_review_complete` can always be updated, while other fields (e.g. `due_date`,

        `recipients`) can only be updated while the inspection is in the Scheduled or In-Progress states.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_update_request_model'
      responses:
        '200':
          description: Returns the updated inspection
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_v1_response_model'
        '400':
          description: "Bad request — request body validation failed, or one of the inspection\nstate-machine checks rejected the update. Examples:\n  - `due_date has an invalid value: must be a valid date in the future`\n  - `invite_date has an invalid value: must be a valid date in the future`\n  - `inspection status does not support invite date update`\n  - `invitation date should not be after due date`\n  - `unable to complete initial review`\n  - `unable to undo initial review`\n  - `can not update \"<field>\" on completed inspection`\n  - validation messages such as `\"archived\" must be a boolean`, `\"inspection_label\" must be a string` — the raw body is validated, so paths are not prefixed with `data.`.\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/inspection_access_unauthorized'
        '404':
          description: Not Found — `inspection not found` or `user not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
        '500':
          description: "Internal server error — surfaces when the underlying state-machine\nguard rejects the requested transition. These currently surface as\n`500` rather than `400`:\n  - `cannot mark as completed`\n  - `cannot reopen`\n  - `cannot cancel revision request`\n  - `invalid status change operation`\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  error:
                    type: string
                    example: invalid status change operation
  /v1/inspections/{inspectionId}/revision:
    delete:
      x-internal: true
      summary: Cancel inspection revision
      tags:
      - Inspections
      description: 'Cancels an active revision request for an inspection. Only the inspection owner (or a user with

        the appropriate permission on their team) can cancel the revision. The response body is the

        inspection as returned by `GET /v1/inspections/{inspectionId}`.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the updated inspection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_v1_response_model'
        '400':
          description: 'Bad request — `inspection.rejection is missing` (the inspection is not currently in a

            revision-requested state).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    example: inspection.rejection is missing
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found` or `user not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
        '500':
          description: 'Internal Server Error — `cannot cancel revision request`. Surfaces as a 500 when the

            revision request cannot be cancelled in the inspection''s current state.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  error:
                    type: string
                    example: cannot cancel revision request
  /v1/inspections:
    delete:
      summary: Delete inspections
      tags:
      - Inspections
      description: Delete selected inspections by ids
      parameters:
      - in: query
        name: id[]
        required: true
        style: form
        explode: true
        schema:
          type: array
          minItems: 1
          items:
            type: string
            minLength: 1
        description: 'List of inspection ids to delete. At least one id is required. Repeat the

          parameter to send multiple values (e.g. `?id[]=abc&id[]=def`).

          '
      responses:
        '200':
          description: Returns the number of inspections that were actually removed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: object
                    required:
                    - totalRemoved
                    properties:
                      totalRemoved:
                        type: integer
                        description: Number of inspections removed.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    enum:
                    - inspection_ids is missing
                    example: inspection_ids is missing
        '401':
          $ref: '#/components/responses/401'
    put:
      summary: Update multiple inspections at once
      tags:
      - Inspections
      description: Update due date for multiple inspections at once
      parameters:
      - in: query
        name: id[]
        required: true
        style: form
        explode: true
        schema:
          type: array
          minItems: 1
          items:
            type: string
            minLength: 1
        description: 'List of inspection ids to update. At least one id is required. Repeat the

          parameter to send multiple values (e.g. `?id[]=abc&id[]=def`).

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_update_bulk_request_model'
      responses:
        '200':
          description: 'Returns updated inspections. The `inspection_template` field on each

            returned inspection is context-dependent: when the request targets a

            single id, the full `inspection_template_v1_get_by_id_response_model`

            (including `sections`) is returned; when the request targets more

            than one id, the bulk handler strips the template down to

            `{id, name, internal_label, property_type, display_name}` for

            response-size reasons.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/inspection_v1_response_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    enum:
                    - 'due_date has an invalid value: must be a valid date in the future'
                    - 'invite_date has an invalid value: must be a valid date in the future'
                    - inspection status does not support invite date update
                    - invitation date should not be after due date
                    - ids must be an array
                    - 'ids has an invalid value: must be a non empty array'
                    - none inspection ids are in progress
                    example: 'ids has an invalid value: must be a non empty array'
        '401':
          $ref: '#/components/responses/inspection_access_unauthorized'
        '404':
          description: Not Found — `inspection not found` or `user not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
  /v3/inspections:
    get:
      x-internal: true
      summary: Get all inspections (v3)
      tags:
      - Inspections
      description: 'Returns a paginated list of inspection digests.

        V3 is intended for list views that don''t need the full inspection document; it returns `api_inspection_digest` entries (a trimmed projection of `api_inspection`) and uses the nested `filters[...]` query-param syntax with flat `page_size` / `page_number` / `sort_by` / `sort_type` options.

        '
      parameters:
      - in: query
        name: page_size
        schema:
          type: integer
          default: 20
        description: The number of elements in the data collection.
      - in: query
        name: page_number
        schema:
          type: integer
          default: 0
        description: The page number of the collection. Zero-indexed.
      - in: query
        name: sort_by
        schema:
          type: string
          default: due_date
          enum:
          - address
          - due_date
          - inspection_status
          - completed_date
          - approved_date
        description: 'Sort results by one of the available fields. `approved_date` sorts

          by the approved date, falling back to the completed date when an

          inspection has no approved date.

          '
      - in: query
        name: sort_type
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
          - ASC
          - DESC
        description: 'Sort direction. Case-insensitive: `asc`/`ASC`

          and `desc`/`DESC` are all accepted.

          '
      - in: query
        name: filters[archived]
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: 'Filter inspections by their archived status. Ignored when the caller

          is a renter.

          '
      - in: query
        name: archived
        deprecated: true
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: 'Deprecated. Prefer `filters[archived]`. Legacy key still accepted.

          '
      - in: query
        name: filters[has_flags]
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: Filter inspections by whether they have one or more maintenance flags. `true` returns only inspections with flags; `false` returns only inspections with none.
      - in: query
        name: has_flags
        deprecated: true
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: 'Deprecated. Prefer `filters[has_flags]`. Legacy key still accepted.

          '
      - in: query
        name: filters[search]
        schema:
          type: string
        description: Search value matched across inspection properties.
      - in: query
        name: search
        deprecated: true
        schema:
          type: string
        description: 'Deprecated. Prefer `filters[search]`. Legacy key still accepted.

          '
      - in: query
        name: filters[inspection_status][value]
        schema:
          type: string
          pattern: ^(Scheduled|Not Started|Started|In Review|Completed|Awaiting Review|Revision Requested|Revision Review|Approved)(\|(Scheduled|Not Started|Started|In Review|Completed|Awaiting Review|Revision Requested|Revision Review|Approved))*$
        description: 'Pipe-separated list of inspection status values to filter by (e.g. `Not Started|Started`). Multiple values are concatenated with `|`. Allowed values, `Scheduled`, `Not Started`, `Started`, `In Review`, `Completed`, `Awaiting Review`, `Revision Requested`, `Revision Review`, `Approved`.

          '
      - in: query
        name: filters[inspection_status][condition]
        schema:
          type: string
          enum:
          - any_of
          - none_of
        description: Condition to apply to the inspection status filter.
      - in: query
        name: inspection_status[]
        deprecated: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        description: 'Deprecated. Prefer `filters[inspection_status][value]`. Legacy

          multi-value array key still accepted.

          '
      - in: query
        name: filters[inspection_template][value]
        schema:
          type: string
        description: List of inspection template ids to filter by. Multiple values are concatenated with `|`.
      - in: query
        name: filters[inspection_template][condition]
        schema:
          type: string
          enum:
          - any_of
          - none_of
        description: Condition to apply to the inspection template filter.
      - in: query
        name: inspection_template[]
        deprecated: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        description: 'Deprecated. Prefer `filters[inspection_template][value]`. Legacy

          multi-value array key still accepted.

          '
      - in: query
        name: filters[team][value]
        schema:
          type: string
        description: List of team ids to filter by. Multiple values are concatenated with `|`.
      - in: query
        name: filters[team][condition]
        schema:
          type: string
          enum:
          - any_of
          - none_of
        description: Condition to apply to the team filter.
      - in: query
        name: team_id[]
        deprecated: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        description: 'Deprecated. Prefer `filters[team][value]`. Legacy multi-value array

          key still accepted.

          '
      - in: query
        name: filters[property][value]
        schema:
          type: string
        description: List of property ids to filter by. Multiple values are concatenated with `|`.
      - in: query
        name: filters[property][condition]
        schema:
          type: string
          enum:
          - any_of
          - none_of
        description: Condition to apply to the property filter.
      - in: query
        name: property_id[]
        deprecated: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        description: 'Deprecated. Prefer `filters[property][value]`. Legacy multi-value

          array key still accepted.

          '
      - in: query
        name: filters[rating][value]
        schema:
          type: string
          pattern: ^(Good|Fair|Poor)(\|(Good|Fair|Poor))*$
        description: List of inspection ratings to filter by. Multiple values are concatenated with `|` (e.g. `Good|Fair`). Allowed values, `Good`, `Fair`, `Poor`.
      - in: query
        name: filters[rating][condition]
        schema:
          type: string
          enum:
          - any_of
        description: Condition to apply to the rating filter.
      - in: query
        name: ratings[]
        deprecated: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Good
            - Fair
            - Poor
        description: 'Deprecated. Prefer `filters[rating][value]`. Legacy multi-value

          array key still accepted.

          '
      - in: query
        name: filters[assigned_to][value]
        schema:
          type: string
        description: List of user ids to filter inspections by. Multiple values are concatenated with `|`.
      - in: query
        name: filters[assigned_to][condition]
        schema:
          type: string
          enum:
          - any_of
        description: Condition to apply to the assigned_to filter.
      - in: query
        name: assigned_to[]
        deprecated: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        description: 'Deprecated. Prefer `filters[assigned_to][value]`. Legacy multi-value

          array key still accepted.

          '
      - in: query
        name: filters[review_step][value]
        schema:
          type: string
          pattern: ^(Initial Review|Secondary Review)(\|(Initial Review|Secondary Review))*$
        description: List of review steps to filter by. Multiple values are concatenated with `|` (e.g. `Initial Review|Secondary Review`). Allowed values, `Initial Review`, `Secondary Review`.
      - in: query
        name: filters[review_step][condition]
        schema:
          type: string
          enum:
          - any_of
        description: Condition to apply to the review step filter. The validator only accepts `any_of`.
      - in: query
        name: filters[created_by][value]
        schema:
          type: string
        description: List of creator user ids to filter by. Multiple values are concatenated with `|`.
      - in: query
        name: filters[created_by][condition]
        schema:
          type: string
          enum:
          - any_of
          - none_of
        description: Condition to apply to the created_by filter.
      - in: query
        name: filters[due_date][start_date]
        schema:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
        description: 'Value to filter inspection effective due date by a starting date.

          Must be in `yyyy-mm-dd` format.

          '
      - in: query
        name: filters[due_date][end_date]
        schema:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
        description: 'Value to filter inspection effective due date by an ending date.

          Must be in `yyyy-mm-dd` format. `end_date`

          must be on or after `start_date`, otherwise the response returns

          `end date must be equal or after start date`.

          '
      - in: query
        name: filters[due_date_legacy][start_date]
        schema:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
        description: 'Value to filter inspection due date (pre-effective-due-date) by a starting date.

          Must be in `yyyy-mm-dd` format. Cannot be combined with

          `filters[due_date]`; that combination is rejected with

          `You cannot use both due_date and due_date_legacy filters at the same time`.

          '
      - in: query
        name: filters[due_date_legacy][end_date]
        schema:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
        description: 'Value to filter inspection due date (pre-effective-due-date) by an ending date.

          Must be in `yyyy-mm-dd` format. `end_date`

          must be on or after `start_date`, otherwise the response returns

          `end date must be equal or after start date`. See `start_date` for the

          mutually-exclusive constraint with `filters[due_date]`.

          '
      - in: query
        name: filters[completed_date][start_date]
        schema:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
        description: 'Value to filter completed inspection date by a starting date.

          Must be in `yyyy-mm-dd` format.

          '
      - in: query
        name: filters[completed_date][end_date]
        schema:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
        description: 'Value to filter completed inspection date by an ending date.

          Must be in `yyyy-mm-dd` format. `end_date`

          must be on or after `start_date`, otherwise the response returns

          `end date must be equal or after start date`.

          '
      responses:
        '200':
          description: Returns the paginated list of inspection digests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/api_inspection_digest'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
                  total_results:
                    type: integer
                    description: Amount of total elements according to search criteria.
        '400':
          description: "Bad request — query-string filters failed validation. Examples:\n  - `You cannot use both due_date and due_date_legacy filters at the same time`\n  - `end date must be equal or after start date`\n  - date-pattern messages when the supplied date is not ISO.\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    example: end date must be equal or after start date
        '401':
          $ref: '#/components/responses/401'
  /v3/inspections/permissions:
    get:
      x-internal: true
      summary: Get inspection permissions for the current user
      tags:
      - Inspections
      description: 'Returns the per-user permissions that drive the inspection creation and assignment UI

        (e.g. whether the user can create inspections on units / buildings / communities, whether

        they can assign to residents, and renter-specific flags). Used internally by the mobile

        and web apps.

        '
      responses:
        '200':
          description: Returns the inspection permissions for the current user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_permissions'
        '401':
          $ref: '#/components/responses/401'
  /v1/inspections/{inspectionId}/media/upload-urls:
    post:
      x-internal: true
      summary: Request pre-signed media upload URLs
      tags:
      - Inspections
      description: 'Generates a batch of pre-signed S3 PUT URLs that the inspection performer or invitee can use to upload images, 360 images, or videos for an inspection feature. Each URL is valid for 7 days.


        Only callers whose inspection role is `invitee-write` or `self-perform-write` may request URLs — owners and reviewers receive a permissions error.


        The response order matches the request order one-to-one.

        '
      parameters:
      - name: inspectionId
        in: path
        required: true
        description: Inspection ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_media_upload_urls_request_model'
      responses:
        '200':
          description: Returns a list of pre-signed S3 PUT URLs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_media_upload_urls_response_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '400':
          description: Bad request — request body failed validation (missing/invalid fields, empty `items`, more than 50 items, unsupported `contentType`, filename containing disallowed characters, etc.).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  error:
                    type: string
        '401':
          $ref: '#/components/responses/inspection_access_unauthorized'
        '404':
          $ref: '#/components/responses/404'
  /v3/inspections/reminder-recipients:
    post:
      x-internal: true
      summary: Resolve reminder recipients for inspections
      tags:
      - Inspections
      description: 'Resolves the set of reminder recipients across a batch of inspections.

        Invites are batch-fetched once for the supplied inspection ids,

        tenants are batch-fetched once for the unique recipient emails, and

        the result is deduped by email.


        Access is validated the same way the send-reminders path is, so the

        caller can''t read invite emails for inspections it can''t already access.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inspection_reminder_recipients_request_model'
      responses:
        '200':
          description: 'Deduped recipients across the supplied inspections. Each item is

            a reminder recipient suitable for posting back to

            `POST /v1/inspections/reminders`. Returns an empty `data` array

            when `inspectionIds` is empty after filtering / deduping.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/api_reminder_recipient'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '400':
          description: 'Bad request — `inspectionIds` was supplied but is not an array.

            Returns a 400 with the message `inspectionIds must be an array`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    enum:
                    - inspectionIds must be an array
                    example: inspectionIds must be an array
        '401':
          $ref: '#/components/responses/inspection_access_unauthorized'
  /v1/inspections/{inspectionId}/signature-requests:
    patch:
      x-internal: true
      summary: Accept all open signature requests for an inspection
      tags:
      - Inspections
      description: 'Marks every open signature request on this inspection as accepted by the

        authenticated recipient. Used when a single user has multiple pending requests

        against the same inspection (e.g. additional-signature loops).

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the list of (now accepted) signature requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/api_inspection_request'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
                  total_results:
                    type: integer
                    description: Total number of accepted signature requests.
        '401':
          $ref: '#/components/responses/401'
    post:
      x-internal: true
      summary: Create signature request(s) for an inspection
      tags:
      - Inspections
      description: 'Creates one signature request per email in `emails`. Each request is dispatched

        via email and tracked individually in the inspection timeline. The response is the

        list of created requests.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/signature_request_create_request_model'
      responses:
        '200':
          description: Returns the list of created signature requests.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/api_inspection_request'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '400':
          description: 'Bad request — request body validation failed. When `emails` is empty the

            response is `"data.emails" must contain at least 1 items`; when it is omitted

            the response is `"data.emails" is required`. Emails are not format-validated.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    example: '"data.emails" must contain at least 1 items'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found` or `user not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
  /v1/inspections/{inspectionId}/signature-requests/{requestId}/claim:
    post:
      x-internal: true
      summary: Claim a signature request from a deep link
      tags:
      - Inspections
      description: 'Claims a pending additional-signature request from a Branch deep link,

        reassigning `recipient_email` to the authenticated caller. The linked

        request and every other pending additional-signature request addressed to

        the original recipient''s email are reassigned to the caller.


        Possession of the high-entropy request id is treated as the capability to

        claim the request (the deep link acts as a bearer token), so — unlike the

        GET endpoint — this endpoint does not require the caller''s email to match

        the request''s recipient. Returns the affected requests so the apps can

        surface the newly-claimed inspections.

        '
      parameters:
      - name: inspectionId
        in: path
        description: 'Inspection ID. Pass the literal `*`; the deep link only carries the

          request id and the inspection is resolved from the request

          itself.

          '
        required: true
        schema:
          type: string
      - name: requestId
        in: path
        description: Signature request ID from the deep link.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requests reassigned to the caller.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/api_inspection_request'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
                  total_results:
                    type: integer
                    description: Total number of requests reassigned to the caller.
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection signature request not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection signature request not found
  /v1/inspections/{inspectionId}/signature-requests/{requestId}:
    get:
      x-internal: true
      summary: Get a signature request by ID
      tags:
      - Inspections
      description: 'Returns a single signature request attached to an inspection. Used by the web/mobile

        apps to render the signature-request detail view.

        '
      parameters:
      - name: inspectionId
        in: path
        description: 'Inspection ID. Pass the literal `*` to look the signature request

          up across all inspections the caller can access.

          '
        required: true
        schema:
          type: string
      - name: requestId
        in: path
        description: Signature request ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the requested signature request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_inspection_request'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection signature request not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection signature request not found
  /v1/inspections/{inspectionId}/signature-requests/sign:
    post:
      x-internal: true
      summary: Complete a signature request by submitting a signature
      tags:
      - Inspections
      description: 'Completes the signature request that the authenticated recipient currently has

        open against this inspection. Either `signature_base64` (drawn signature image) or

        `signature_text` (typed signature) must be supplied. Returns the updated list of

        signature requests on the inspection.

        '
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/signature_request_complete_request_model'
      responses:
        '200':
          description: Returns the updated signature requests for the inspection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/api_inspection_request'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '400':
          description: "Bad request — request body failed validation. Examples:\n  - `either signature_base64 or signature_text is required` (neither\n    field supplied)\n  - `\"data.platform\" is required`\n  - `\"data.platform\" must be one of [WEB, MOBILE]`\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    example: either signature_base64 or signature_text is required
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `inspection not found` or `inspection signature not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection signature not found
  /v1/zapier/inspections:
    post:
      x-internal: true
      summary: Create an inspection from a Zapier trigger
      tags:
      - Inspections
      description: 'Zapier-flavoured entry point for the v2 inspection create flow. The

        Zapier request body carries a flat inspection payload; the property is

        resolved by (`address` + `postal_code`) within the caller''s user +

        organizations — matched against the resolved inspection template''s

        `property_type` — then the up-to-five `resident_email_N` fields are

        translated into the v2 `recipients` shape (`{ type: ''emails'', emails }`

        when any resident email is provided, otherwise `{ type: ''self-perform'' }`)

        and delegated to the v2 create flow.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/zapier_inspection_create_request_model'
      responses:
        '200':
          description: 'Returns the standard v2 create envelope — an array of successful

            inspections plus per-property error / warning / conflict payloads.

            Individual property-level failures do not surface as 4xx; they are

            recorded in `errors[].reason` on the 200 response.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/inspection_v2_response_model'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: 'Not Found — the resolved inspection template or property could not

            be located within the caller''s user + organizations. Raised when the

            template id does not resolve, or when no property matches

            (`address` + `postal_code` + `property_type`).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: property not found
components:
  schemas:
    api_invite_model:
      type: object
      required:
      - id
      - invite_type
      - status
      - created_date
      - reference_code
      - created_by
      - recipient_email
      - inspection
      - property
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        invite_type:
          type: string
          description: The type of the invite
          enum:
          - Perform Inspection
          - Inspection Request
          - Review Inspection
        status:
          type: string
          description: The status reflects if the invite is sent or accepted
          enum:
          - sent
          - accepted
        created_date:
          type: string
          description: Entity creation date, in ISO format
          example: 2022-12-02 14:15:37.925000
        reference_code:
          type: string
          description: 4 or 6 character string to inform when accepting the invite
          example: ABC123
        created_by:
          type: object
          required:
          - id
          - name
          - email
          - type
          - display_name
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: Name of the user
            email:
              type: string
              description: Email of the user
            type:
              type: string
              enum:
              - Renter
              - Property Manager
              - Landlord
              - System
              description: User type discriminator.
            display_name:
              type: string
              description: Either the name of the organization or the creator name
            organization_id:
              type: string
              description: Id of the Team who created or administers the Entity.
              example: 05fDGZRKp4nVmlmEwjsv
        accepted_by:
          type: object
          required:
          - id
          - name
          - email
          - type
          description: Data of who accepted the invite. This can differ from recipient_email because a different user can accept an invite given a correct reference_code
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: Name of the user
            email:
              type: string
              description: Email of the user
            type:
              type: string
              enum:
              - Renter
              - Property Manager
              - Landlord
              - System
              description: User type discriminator.
        recipient_email:
          type: string
          description: Email that the invite was originally sent to
        inspection:
          type: object
          required:
          - id
          - label
          - due_date
          - inspection_template
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            label:
              type: string
              description: Inspection label.
            due_date:
              type: string
              description: The inspection due date (legacy) is the original date by which the recipient must complete the inspection.
              example: 2021-12-02 14:15:37.925000
            inspection_template:
              type: object
              required:
              - id
              - name
              - internal_label
              - property_type
              - display_name
              properties:
                id:
                  type: string
                  description: Inspection template identifier
                name:
                  type: string
                  description: Inspection template name.
                internal_label:
                  type: string
                  description: Inspection template internal label.
                property_type:
                  type: string
                  description: Inspection template property type.
                display_name:
                  type: string
                  description: Resolved display name for the inspection template, used by clients to render the template title (mirrors `name` for legacy templates).
        property:
          type: object
          required:
          - id
          - address
          - city
          - zip_code
          description: This is the entity id of the Unit, Building, or Community that the entity is for.
          properties:
            id:
              type: string
              description: Selected entity's property id
              example: 00BRcZPSakXz6w7RYoE
            address:
              type: string
              description: Selected entity's property address
              example: 2001 Red Gates
            address_2:
              type: string
              description: Selected entity's property additional address info
              example: Apt. 4B
            city:
              type: string
              description: Selected entity's property city
              example: New Orleans
            region:
              type: string
              description: Selected entity's property region
              example: Orleans
            zip_code:
              type: string
              description: Selected entity's property zip_code
              example: '70130'
    api_inspection_digest:
      type: object
      required:
      - id
      - property
      - inspection_template
      - inspection_status
      - effective_due_date
      - completed_date
      - archived
      - progress_pct
      - features_ratings
      - permissions
      - assigned_recipients
      - metadata
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        property:
          type: object
          required:
          - id
          - address
          - city
          - zip_code
          - type
          description: Property snapshot embedded in the inspection digest. Carries the `type` discriminator (and optionally `x_id`) — distinct from the leaner basic-property shape used elsewhere.
          properties:
            id:
              type: string
              description: Property id
              example: 00BRcZPSakXz6w7RYoE
            x_id:
              type: string
              description: External property ID from a synced integration, when set.
            address:
              type: string
              description: Property street address
              example: 2001 Red Gates
            address_2:
              type: string
              description: Property additional address info
              example: Apt. 4B
            city:
              type: string
              description: Property city
              example: New Orleans
            region:
              type: string
              description: Property region
              example: Orleans
            zip_code:
              type: string
              description: Property zip code
              example: '70130'
            type:
              type: string
              description: Property's type discriminator.
              enum:
              - Single-Family
              - Multi-Family
              - Apartment or Condo
              - Commercial
              - Building
              - Community
              - ''
        inspection_template:
          type: object
          required:
          - id
          - name
          - internal_label
          - property_type
          - display_name
          properties:
            id:
              type: string
              description: Inspection template identifier
            name:
              type: string
              description: Inspection template name.
[...]
