openapi: 3.2.0
info:
  title: RentCheck REST Maintenance Flags API
  version: 1.0.0
  description: '## Mission

    At RentCheck, our mission is plain and simple: To make renting fair and transparent for everyone involved.'
  contact:
    name: RentCheck Support
    email: support@getrentcheck.com
servers:
- url: https://prod-public-api.getrentcheck.com
  description: Production server
security:
- bearerAuth: []
  x-app-id: []
  x-app-secret: []
tags:
- name: Maintenance Flags
paths:
  /v1/inspections/{inspectionId}/features/{featureId}/maintenanceFlags:
    get:
      x-internal: true
      summary: Get all maintenance flags for a given inspection and feature
      tags:
      - Maintenance Flags
      description: Get all maintenance flags for a given inspection ID and feature ID
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      - name: featureId
        in: path
        description: Feature ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns all maintenance flags for the inspection feature
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/maintenance_flag_response_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
                  total_results:
                    type: integer
                    description: Amount of total elements according to search criteria.
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: 'Not Found — `user not found`, `inspection not found`,

            `property not found`, or `inspection feature not found`. The

            inspection-access guard maps permission failures to

            `inspection not found` instead of 401, so a 404 here can also

            indicate that the inspection exists but the caller cannot read it.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection feature not found
      operationId: getV1InspectionsByInspectionIdFeaturesByFeatureIdMaintenanceFlags
      x-operation-id-source: derived
  /v1/inspections/{inspectionId}/maintenanceFlags:
    get:
      x-internal: true
      summary: Get all maintenance flags for an inspection
      tags:
      - Maintenance Flags
      description: Get all maintenance flags for a given inspection ID
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns all maintenance flags for the inspection
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/maintenance_flag_response_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
                  total_results:
                    type: integer
                    description: Amount of total elements according to search criteria.
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: 'Not Found — `user not found`, `inspection not found`, or

            `property not found`. The inspection-access guard maps permission

            failures to `inspection not found` instead of 401, so a 404 here

            can also indicate that the inspection exists but the caller cannot

            read it.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: inspection not found
      operationId: getV1InspectionsByInspectionIdMaintenanceFlags
      x-operation-id-source: derived
  /v1/inspections/{inspectionId}/features/{featureId}/maintenanceFlags/{maintenanceFlagId}:
    get:
      x-internal: true
      summary: Get a maintenance flag by ID for a given inspection and feature
      tags:
      - Maintenance Flags
      description: Get a maintenance flag by ID for a given inspection and feature.
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: string
      - name: featureId
        in: path
        description: Feature ID
        required: true
        schema:
          type: string
      - name: maintenanceFlagId
        in: path
        description: Maintenance flag ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the requested maintenance flag
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/maintenance_flag_response_model'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: 'Not Found. The inspection-access guard maps permission failures to

            `inspection not found` instead of 401, so a 404 here can also

            indicate that the inspection exists but the caller cannot read it.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: maintenance flag not found
                    enum:
                    - user not found
                    - inspection not found
                    - property not found
                    - inspection feature not found
                    - maintenance flag not found
      operationId: getV1InspectionsByInspectionIdFeaturesByFeatureIdMaintenanceFlagsByMaintenanceFlagId
      x-operation-id-source: derived
components:
  schemas:
    maintenance_flag_response_model:
      type: object
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        room:
          type: string
          description: Maintenance flag's room.
        feature_name:
          type: string
          description: Maintenance flag's feature name (`feature_name` on the wire — aliased from the stored `feature` field).
        feature_id:
          type: string
          description: Maintenance flag's feature ID.
        created_date:
          type: string
          description: Feature creation date, ISO format
          example: 2022-01-15 00:00:00
        created_by:
          type: object
          description: User that created the flag.
          required:
          - id
          - name
          - type
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: Name of the user that created the flag.
            type:
              type: string
              description: User type.
        responsibility:
          type: string
          description: Maintenance flag's responsibility
          enum:
          - OWNER
          - RESIDENT
          - ''
        note:
          type: string
          description: Maintenance flag's notes
        internal_note:
          type: string
          description: Maintenance flag's internal note.
        image_urls:
          type: array
          description: Maintenance flag's images
          items:
            type: string
            description: URL links to images related to the maintenance flags
        cost:
          type: number
          description: Maintenance flag's cost
        skill:
          type: string
          description: Maintenance flag's required skill.
        custom_fields:
          type: array
          description: Custom-field values captured for this flag.
          items:
            type: object
            required:
            - id
            - value
            properties:
              id:
                type: string
                description: Stable identifier of the custom field (chosen by the user when the field was created).
              value:
                type: array
                description: Selected/entered values. Always an array of strings even for single-select fields.
                items:
                  type: string
  responses:
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 401
              error:
                type: string
                description: Error message
                enum:
                - token is not valid
                - authorization header is empty
                - authorization header is not valid
                - 'format for Authorization must be: Bearer [token]'
                - refresh token is not valid for resources
                - not well-formed token
                example: token is not valid
  securitySchemes:
    bearerAuth:
      description: Authorization key needed to use the API
      type: http
      scheme: bearer
      bearerFormat: JWT
    x-app-id:
      description: Represents the identification of you application
      type: apiKey
      name: x-app-id
      in: header
      required: true
    x-app-secret:
      description: Represents the secret for your application
      type: apiKey
      name: x-app-secret
      in: header
      required: true
