openapi: 3.2.0
info:
  title: RentCheck REST Chargebee API
  version: 1.0.0
  description: '## Mission

    At RentCheck, our mission is plain and simple: To make renting fair and transparent for everyone involved.'
  contact:
    name: RentCheck Support
    email: support@getrentcheck.com
servers:
- url: https://prod-public-api.getrentcheck.com
  description: Production server
security:
- bearerAuth: []
  x-app-id: []
  x-app-secret: []
tags:
- name: Chargebee
paths:
  /v1/chargebee/addons:
    get:
      x-internal: true
      summary: List Chargebee addons
      tags:
      - Chargebee
      description: 'Returns the list of Chargebee addons currently configured for the

        RentCheck account. The response is the raw Chargebee addon payload.'
      responses:
        '200':
          description: List of Chargebee addons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/chargebee_get_all_addons_response_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '401':
          $ref: '#/components/responses/401'
      operationId: getV1ChargebeeAddons
      x-operation-id-source: derived
  /v1/chargebee/plans:
    get:
      x-internal: true
      summary: List Chargebee plans
      tags:
      - Chargebee
      description: 'Returns the list of Chargebee plans currently configured for the

        RentCheck account. The response is the raw Chargebee plan payload.'
      responses:
        '200':
          description: List of Chargebee plans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/chargebee_get_all_plans_response_model'
                  count:
                    type: integer
                    description: Amount of elements in `data`.
        '401':
          $ref: '#/components/responses/401'
      operationId: getV1ChargebeePlans
      x-operation-id-source: derived
  /v1/chargebee/subscriptions/{subscriptionId}:
    get:
      x-internal: true
      summary: Get a Chargebee subscription by ID
      tags:
      - Chargebee
      description: 'Returns the Chargebee subscription for the given subscription

        id. Returns `Subscription not found` when no matching subscription

        exists.'
      parameters:
      - name: subscriptionId
        in: path
        description: Chargebee subscription ID.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The requested Chargebee subscription.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_chargebee_subscription'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not Found — `Subscription not found`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    example: Subscription not found
      operationId: getV1ChargebeeSubscriptionsBySubscriptionId
      x-operation-id-source: derived
components:
  schemas:
    api_chargebee_plan:
      x-internal: true
      type: object
      required:
      - id
      - name
      - invoice_name
      - description
      - charge_model
      - price
      properties:
        id:
          type: string
          description: Chargebee plan id.
        name:
          type: string
          description: Plan name.
        invoice_name:
          type: string
          description: Name shown on the invoice line item.
        description:
          type: string
          description: Plan description.
        charge_model:
          type: string
          enum:
          - flat_fee
          - per_unit
          - tiered
          - volume
          - stairstep
          description: Chargebee charge model for the plan.
        trial_period:
          type: integer
          description: Length of the trial period, if any.
        trial_period_unit:
          type: string
          enum:
          - day
          - month
          description: Unit for `trial_period`.
        price:
          type: integer
          description: Price in cents (Chargebee stores money as integer cents).
    api_chargebee_subscription:
      x-internal: true
      type: object
      required:
      - id
      - plan_id
      - plan_quantity
      - plan_unit_price
      - customer_id
      - plan_amount
      - plan_free_quantity
      - status
      - current_term_start
      - current_term_end
      - created_at
      - started_at
      - updated_at
      - currency_code
      - due_invoices_count
      - cf_Minimum_Units
      properties:
        id:
          type: string
          description: Chargebee subscription id.
        plan_id:
          type: string
          description: Chargebee plan id the subscription is on.
        plan_quantity:
          type: integer
          description: Plan quantity.
        plan_unit_price:
          type: integer
          description: Plan unit price in cents.
        customer_id:
          type: string
          description: Chargebee customer id that owns the subscription.
        plan_amount:
          type: integer
          description: Plan amount in cents.
        plan_free_quantity:
          type: integer
          description: Quantity included free with the plan.
        status:
          type: string
          enum:
          - active
          - future
          - in_trial
          - non_renewing
          - paused
          - cancelled
          description: Subscription status.
        current_term_start:
          type: integer
          format: int64
          description: Start of the current term, in seconds since epoch.
        current_term_end:
          type: integer
          format: int64
          description: End of the current term, in seconds since epoch.
        next_billing_at:
          type: integer
          format: int64
          description: Next billing timestamp, in seconds since epoch.
        created_at:
          type: integer
          format: int64
          description: Creation timestamp, in seconds since epoch.
        pause_date:
          type: integer
          format: int64
          description: Pause timestamp, in seconds since epoch.
        started_at:
          type: integer
          format: int64
          description: Start timestamp, in seconds since epoch.
        updated_at:
          type: integer
          format: int64
          description: Last update timestamp, in seconds since epoch.
        currency_code:
          type: string
          enum:
          - USD
          description: Subscription currency.
        addons:
          type: array
          description: Addons attached to the subscription.
          items:
            type: object
            required:
            - id
            - quantity
            - unit_price
            - amount
            properties:
              id:
                type: string
                description: Addon id.
              quantity:
                type: integer
                description: Addon quantity.
              unit_price:
                type: integer
                description: Unit price in cents.
              amount:
                type: integer
                description: Total amount in cents.
        coupons:
          type: array
          description: Coupons applied to the subscription.
          items:
            type: object
            required:
            - coupon_id
            - applied_count
            properties:
              coupon_id:
                type: string
                description: Coupon id.
              applied_count:
                type: integer
                description: Number of times the coupon has been applied.
        due_invoices_count:
          type: integer
          description: Number of due invoices.
        cf_Minimum_Units:
          type: integer
          description: Minimum number of units enforced by the subscription.
        trial_start:
          type: integer
          format: int64
          description: Trial start timestamp, in seconds since epoch.
        trial_end:
          type: integer
          format: int64
          description: Trial end timestamp, in seconds since epoch.
    chargebee_get_all_addons_response_model:
      x-internal: true
      type: array
      description: List of Chargebee addons available to the caller.
      items:
        $ref: '#/components/schemas/api_chargebee_addon'
    chargebee_get_all_plans_response_model:
      x-internal: true
      type: array
      description: List of Chargebee plans available to the caller.
      items:
        $ref: '#/components/schemas/api_chargebee_plan'
    api_chargebee_addon:
      x-internal: true
      type: object
      required:
      - id
      - name
      - invoice_name
      - description
      - pricing_model
      - price
      properties:
        id:
          type: string
          description: Chargebee addon id.
        name:
          type: string
          description: Addon name.
        invoice_name:
          type: string
          description: Name shown on the invoice line item.
        description:
          type: string
          description: Addon description.
        pricing_model:
          type: string
          enum:
          - flat_fee
          - per_unit
          - tiered
          - volume
          - stairstep
          description: Chargebee pricing model for the addon.
        price:
          type: integer
          description: Price in cents (Chargebee stores money as integer cents).
  responses:
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 401
              error:
                type: string
                description: Error message
                enum:
                - token is not valid
                - authorization header is empty
                - authorization header is not valid
                - 'format for Authorization must be: Bearer [token]'
                - refresh token is not valid for resources
                - not well-formed token
                example: token is not valid
  securitySchemes:
    bearerAuth:
      description: Authorization key needed to use the API
      type: http
      scheme: bearer
      bearerFormat: JWT
    x-app-id:
      description: Represents the identification of you application
      type: apiKey
      name: x-app-id
      in: header
      required: true
    x-app-secret:
      description: Represents the secret for your application
      type: apiKey
      name: x-app-secret
      in: header
      required: true
