openapi: 3.2.0
info:
  title: RentCheck REST Integrations API
  version: 1.0.0
  description: '## Mission

    At RentCheck, our mission is plain and simple: To make renting fair and transparent for everyone involved.'
  contact:
    name: RentCheck Support
    email: support@getrentcheck.com
servers:
- url: https://prod-public-api.getrentcheck.com
  description: Production server
security:
- bearerAuth: []
  x-app-id: []
  x-app-secret: []
tags:
- name: Integrations
paths:
  /v1/integrations/rentcheck:
    post:
      x-internal: true
      summary: Rotate RentCheck-API integration credentials
      tags:
      - Integrations
      description: 'Creates a fresh `app_id` / `app_secret` pair for the caller''s active

        RentCheck subscription and provisions the matching AWS API Gateway API

        key + usage-plan entry so the credentials can immediately sign public API

        requests. Any existing integration record for the subscription is removed

        first, so calling this endpoint effectively rotates the credentials.


        If the AWS API-key provisioning step fails after the record is created,

        the just-created integration record is removed and the failure surfaces

        as a 500 `Error creating AWS API key`.'
      responses:
        '200':
          description: Newly-created RentCheck-API integration credentials.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_integration_rentcheck'
        '400':
          description: 'Bad Request — the caller''s active subscription is missing the

            `rentcheck_contact.company` field, which is required before the

            AWS API key can be labelled.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  error:
                    type: string
                    enum:
                    - subscription.rentcheck_contact.company is missing
                    example: subscription.rentcheck_contact.company is missing
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: 'Not Found — the caller has no active subscription.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    enum:
                    - subscription not found
                    example: subscription not found
        '500':
          description: 'Internal Server Error — the AWS API-key / usage-plan provisioning

            call failed. The just-created integration record is removed and the

            failure surfaces as `Error creating AWS API key`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  error:
                    type: string
                    example: Error creating AWS API key
      operationId: postV1IntegrationsRentcheck
      x-operation-id-source: derived
    get:
      x-internal: true
      summary: Get RentCheck-API integration credentials
      tags:
      - Integrations
      description: 'Returns the `x-app-id` / `x-app-secret` pair for the caller''s active

        RentCheck subscription. Used by the `Account → Integrations → RentCheck

        API` panel to display the credentials integrators need to sign public API

        requests.'
      responses:
        '200':
          description: RentCheck-API integration for the caller's active subscription.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  data:
                    $ref: '#/components/schemas/api_integration_rentcheck'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: 'Not Found — either the caller has no active subscription, or the

            subscription has no RentCheck-API integration record yet.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  error:
                    type: string
                    enum:
                    - subscription not found
                    - integration not found
                    example: integration not found
      operationId: getV1IntegrationsRentcheck
      x-operation-id-source: derived
components:
  responses:
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 401
              error:
                type: string
                description: Error message
                enum:
                - token is not valid
                - authorization header is empty
                - authorization header is not valid
                - 'format for Authorization must be: Bearer [token]'
                - refresh token is not valid for resources
                - not well-formed token
                example: token is not valid
  schemas:
    api_integration_rentcheck:
      x-internal: true
      type: object
      description: RentCheck-API integration credentials — the `app_id`/`app_secret` pair used to sign requests against the public API for a given subscription.
      required:
      - id
      - app_id
      - app_secret
      - subscription_id
      properties:
        id:
          type: string
          description: Document id for the integration record.
        app_id:
          type: string
          description: Public API application id — sent as the `x-app-id` header.
        app_secret:
          type: string
          description: Public API application secret — sent as the `x-app-secret` header.
        subscription_id:
          type: string
          description: RentCheck subscription id the integration is scoped to.
  securitySchemes:
    bearerAuth:
      description: Authorization key needed to use the API
      type: http
      scheme: bearer
      bearerFormat: JWT
    x-app-id:
      description: Represents the identification of you application
      type: apiKey
      name: x-app-id
      in: header
      required: true
    x-app-secret:
      description: Represents the secret for your application
      type: apiKey
      name: x-app-secret
      in: header
      required: true
