openapi: 3.1.0
info:
  title: RentCheck REST API
  version: 1.0.0
  description: >
    
    ## Mission

    At RentCheck, our mission is plain and simple: To make renting fair and transparent for everyone involved. 

    RentCheck is a property inspection solution that helps property managers save time and resources with easy self-guided inspections that residents can perform from their smartphone. 


    With RentCheck, property managers can avoid tenant coordination, eliminate drive time, and standardize their inspection process. 

    We provides real-time visibility to property managers and owners while bringing transparency to the security deposit deduction process.


    ## API

    The RentCheck API lets developers tap into the RentCheck ecosystem, building their own RentCheck-powered applications to enable inspection scheduling and creation and to leverage inspection data for a variety of use cases in the property management, maintenance, and insurance spaces.


    The RentCheck REST API supports JSON requests and responses and features a resource-oriented design that generally adheres to the RFC 7321 HTTP/1.1 standard. 

    Our API resources provide access to many RentCheck features, including units, buildings, communities, inspections, and residents.


    ## Credentials

    In addition to the Bearer Auth, RentCheck will need to send you an application ID and secret. These are required to generate the required application headers (x-app-id & x-app-secret).

    These values can be obtained from the [RentCheck API integration page](https://app.getrentcheck.com/account/integrations/rentcheck-api).


    ## Rate Limiting

    The RentCheck API enforces rate limits to ensure fair usage and prevent abuse. The rate limits are as follows:

    - **Requests per second**: 8

    - **Requests per minute**: 256

    - **Requests per 10 minutes**: 1024


    If you exceed the rate limits, you will receive a 429 Too Many Requests response.


    ## Pagination

    When interacting with endpoints that return a list of items, the results are paginated to help manage large data sets efficiently. The following parameters control pagination:

    - **page_size** (integer): Defines the number of items returned per page. The maximum allowed value is 250. If a value larger than 250 is provided, it will be automatically clamped to 250. This ensures that the system performs optimally and prevents the server from being overwhelmed by too many items in a single response.
      - **Maximum**: `250`
    - **page_number** (integer): Indicates the page number to retrieve. Pagination starts at `page 0`. If not specified, the first page (`page 0`) is returned by default.

    ### Example Request

    ```http

    GET /api/v1/inspections?page_size=300&page_number=2

    ```

    In this example, although the `page_size` parameter is set to `300` **for a query with 1500 total results**, the system will return only `250` items per page, as `300` exceeds the maximum allowed value.

    #### Example Response

    ```json

    {
        "status": 200,
        "data": [...],
        "count": 250,
        "total_results": 1500
    }

    ```

    This response shows that the `page_size` has been clamped to `250`, despite the initial request for `300`.
  contact:
    name: RentCheck Support
    email: support@getrentcheck.com
servers:
  - url: https://prod-public-api.getrentcheck.com
    description: Production server
components:
  securitySchemes:
    bearerAuth:
      description: Authorization key needed to use the API
      type: http
      scheme: bearer
      bearerFormat: JWT
    x-app-id:
      description: Represents the identification of you application
      type: apiKey
      name: x-app-id
      in: header
      required: true
    x-app-secret:
      description: Represents the secret for your application
      type: apiKey
      name: x-app-secret
      in: header
      required: true
  responses:
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 401
              error:
                type: string
                description: Error message
                enum:
                  - token is not valid
                  - authorization header is empty
                  - authorization header is not valid
                  - "format for Authorization must be: Bearer [token]"
                  - refresh token is not valid for resources
                  - not well-formed token
                example: token is not valid
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 403
              error:
                type: string
                description: Error message describing why the caller is not allowed to perform
                  the action.
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 404
              error:
                type: string
                description: Error message describing the missing resource
                example: property not found
    synced_property_delete_forbidden:
      description: Forbidden — at least one requested property is currently synced
        from an external integration (Latchel/Yardi/AppFolio/etc.) and cannot be
        deleted without first disconnecting the sync.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 403
              error:
                type: string
                enum:
                  - Cannot delete property when integration sync is active
                example: Cannot delete property when integration sync is active
    synced_property_merge_forbidden:
      description: Forbidden — either the origin or target property of a merge is
        currently synced from an external integration.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 403
              error:
                type: string
                enum:
                  - Synced property cannot be used for merge
                example: Synced property cannot be used for merge
    synced_resource_removal_forbidden:
      description: Forbidden — the resource is currently synced from an external
        integration and cannot be deleted or merged without first disconnecting
        the sync. Prefer the action-specific `synced_property_delete_forbidden`
        / `synced_property_merge_forbidden` responses; this alias is kept for
        backward compatibility.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 403
              error:
                type: string
                enum:
                  - Cannot delete property when integration sync is active
                  - Synced property cannot be used for merge
                example: Cannot delete property when integration sync is active
    inspection_access_unauthorized:
      description: Unauthorized — standard auth-token failures, plus the inspection
        access check. When the caller cannot access the target inspection, this
        surfaces as 401 with the message `User does not have permissions to
        access inspection`.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 401
              error:
                type: string
                enum:
                  - token is not valid
                  - authorization header is empty
                  - authorization header is not valid
                  - "format for Authorization must be: Bearer [token]"
                  - refresh token is not valid for resources
                  - not well-formed token
                  - User does not have permissions to access inspection
                example: User does not have permissions to access inspection
    resident_lease_unauthorized:
      description: Unauthorized — either a standard auth-token failure, or the
        authenticated renter does not have access to the property the lease
        belongs to (or the lease belongs to a different property).
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: HTTP status code
                example: 401
              error:
                type: string
                enum:
                  - token is not valid
                  - authorization header is empty
                  - authorization header is not valid
                  - "format for Authorization must be: Bearer [token]"
                  - refresh token is not valid for resources
                  - not well-formed token
                  - User does not have access to this property
                  - property not found
                  - User either lacks property access or the lease belongs to a
                    different property
                  - Lease belongs to a different property than the one provided
                example: User either lacks property access or the lease belongs to a different
                  property
  parameters:
    V3PropertyListPageSize:
      in: query
      name: page_size
      schema:
        type: integer
        default: 20
        minimum: 0
      description: The number of elements in the data collection. Sizes above `250`
        are clamped to `250` to keep responses bounded (matches the API-wide
        pagination policy documented in the OpenAPI intro).
    V3PropertyListPageNumber:
      in: query
      name: page_number
      schema:
        type: integer
        default: 0
        minimum: 0
      description: Zero-indexed page number.
    V3PropertyListSortBy:
      in: query
      name: sort_by
      schema:
        type: string
        default: address
        enum:
          - address
          - name
          - last_completed_inspection
      description: Sort results by one of the available fields.
    V3PropertyListSortType:
      in: query
      name: sort_type
      schema:
        type: string
        default: asc
        pattern: ^(?:[Aa][Ss][Cc]|[Dd][Ee][Ss][Cc])$
        example: asc
      description: Sort direction. Case-insensitive, so `asc`/`ASC`/`Asc` and
        `desc`/`DESC`/`Desc` are all accepted.
    V3PropertyListTeamValue:
      in: query
      name: filters[team][value]
      schema:
        type: string
      description: List of team ids to filter by. Multiple values are concatenated
        with `|`. When `filters[team][condition]` is supplied, this must resolve
        to at least one id, so an empty list surfaces as 400
        `"filters.teamIds.value" must contain at least 1 items`.
    V3PropertyListTeamCondition:
      in: query
      name: filters[team][condition]
      schema:
        type: string
        enum:
          - any_of
          - none_of
      description: Condition to apply to the team filter.
    V3PropertyListTeamIdLegacy:
      in: query
      name: team_id[]
      deprecated: true
      schema:
        type: array
        items:
          type: string
      description: Legacy team id filter. Prefer `filters[team][value]`.
    V3PropertyListLastCompletedStart:
      in: query
      name: last_completed_inspection_start_date
      schema:
        oneOf:
          - type: string
            format: date
          - type: string
            format: date-time
          - type: string
            enum:
              - ""
      description: ISO-8601 date (`YYYY-MM-DD`) or date-time lower bound for the last
        completed inspection filter. Both date and date-time forms are accepted,
        and an empty string is treated as "no filter".
    V3PropertyListLastCompletedEnd:
      in: query
      name: last_completed_inspection_end_date
      schema:
        oneOf:
          - type: string
            format: date
          - type: string
            format: date-time
          - type: string
            enum:
              - ""
      description: ISO-8601 date (`YYYY-MM-DD`) or date-time upper bound for the last
        completed inspection filter. Both date and date-time forms are accepted,
        and an empty string is treated as "no filter".
    V3PropertyListSynced:
      in: query
      name: synced
      schema:
        type: string
        enum:
          - synced
          - not synced
      description: Filter by external integration sync status.
    V3PropertyListExtraFields:
      in: query
      name: extra_fields[]
      schema:
        type: array
        items:
          type: string
      description: Optional list of extra fields to include in each digest (e.g.
        `last_completed_inspection`).
  schemas:
    oauth2_refresh_token_request_model:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          description: The refresh token is used to request a fresh access token.
    oauth2_refresh_token_response_model:
      type: object
      required:
        - access_token
        - refresh_token
      properties:
        access_token:
          type: string
          description: The access token is used to validate a request to the RentCheck API.
        refresh_token:
          type: string
          description: The refresh token is used to request a fresh access token.
    oauth2_email_password_auth_request_model:
      description: Credentials for `POST /v1/oAuth2/emailPasswordAuth`. Either the
        account password OR the integration password (never both) must accompany
        the email.
      oneOf:
        - type: object
          required:
            - email
            - password
          properties:
            email:
              type: string
              format: email
              description: The user's email.
              example: user@email.com
            password:
              type: string
              description: The account password used on login.
              example: password123
        - type: object
          required:
            - email
            - integration_password
          properties:
            email:
              type: string
              format: email
              description: The user's email.
              example: user@email.com
            integration_password:
              type: string
              description: The integration password issued to the user via the RentCheck API
                integrations page. Callers presenting this value are
                authenticated as the underlying RentCheck user with no
                additional login round-trip.
              example: integration-abcdef123456
    oauth2_email_password_auth_response_model:
      type: object
      required:
        - access_token
        - refresh_token
      properties:
        access_token:
          type: string
          description: The access token is used to validate a request to the RentCheck API.
        refresh_token:
          type: string
          description: The refresh token is used to request a fresh access token.
    unit_create_request_model:
      type: object
      required:
        - property_type
        - address
        - city
        - zip_code
        - bedrooms
        - full_bathrooms
      properties:
        x_id:
          type: string
          description: External property ID that maps to RentCheck properties
        team_id:
          type: string
          description: Id of the Team who created or administers the Entity.
          example: 05fDGZRKp4nVmlmEwjsv
        building_id:
          type: string
          description: Optional ID of the building the unit belongs to. When supplied, the
            unit inherits the building team and is created under it.
          example: 00BRcZPSakXz6w7RYoE
        property_type:
          type: string
          description: 'The property type designates which type of property the Unit is.
            Write-only: the legacy `""` value is read-only and rejected on
            create — an empty string is rejected.'
          enum:
            - Single-Family
            - Multi-Family
            - Apartment or Condo
            - Commercial
          example: Single-Family
        address:
          type: string
          description: This is the street address for the Unit.
          example: 2001 Red Gates
        address_2:
          type: string
          description: Additional address information for the Unit.
          example: Apt. 4B
        city:
          type: string
          description: This is the city of the Unit.
          example: New Orleans
        region:
          type: string
          description: The broader region or area in which the Unit is located.
          example: Orleans
        state:
          type: string
          description: Two-letter US state code. Optional alias of `region` for callers
            that prefer the postal-style name.
          example: CA
        zip_code:
          type: string
          description: This is the Postal Code for the Unit.
          example: "70130"
        rooms:
          type: array
          items:
            type: string
          deprecated: true
          description: "Deprecated: derived from `rooms_info` on read; use `rooms_info`
            instead. An array of strings representing the room configuration for
            the property. Only rooms that are not bedrooms and bathrooms can be
            set this way."
          example:
            - Living Room
            - Den
            - Balcony
        rooms_info:
          type: array
          description: "Structured per-room configuration and, when supplied, the
            authoritative room set: `rooms`/`room_names` are derived from these
            entries. `name` is the source of truth (required); `type` is
            recomputed from it and `label` defaults to `name`, so both are
            optional. The bedroom/bathroom counts always come from the dedicated
            `bedrooms`/`full_bathrooms`/`half_bathrooms` fields, never from this
            array. Mutually exclusive with `rooms` — sending both is a
            validation error."
          items:
            $ref: "#/components/schemas/room_info_request"
        bedrooms:
          type: integer
          minimum: 0
          maximum: 10
          description: The number of bedrooms the Unit has. Must be an integer in `[0, 10]`.
          example: 2
        full_bathrooms:
          type: number
          minimum: 0
          maximum: 10
          description: The number of full bathrooms the Unit has. Must be a number in `[0,
            10]` — decimals are allowed.
          example: 2
        half_bathrooms:
          type: integer
          minimum: 0
          maximum: 10
          description: The number of half bathrooms the Unit has. Must be an integer in
            `[0, 10]`.
          example: 1
        rentvine_sync:
          $ref: "#/components/schemas/rentvine_sync"
    unit_update_request_model:
      type: object
      properties:
        x_id:
          type: string
          description: External property ID that maps to RentCheck properties
        building_id:
          type: string
          description: Entity ID of the building the unit belongs to.
          example: 00BRcZPSakXz6w7RYoE
        property_type:
          type: string
          description: 'The property type designates which type of property the Unit is.
            Write-only: the legacy `""` value is read-only and rejected on
            update — an empty string is rejected.'
          enum:
            - Single-Family
            - Multi-Family
            - Apartment or Condo
            - Commercial
          example: Single-Family
        address:
          type: string
          description: This is the street address for the Unit.
          example: 2001 Red Gates
        address_2:
          type: string
          description: Additional address information for the Unit.
          example: Apt. 4B
        city:
          type: string
          description: This is the city of the Unit.
          example: New Orleans
        region:
          type: string
          description: The broader region or area in which the Unit is located.
          example: Orleans
        state:
          type: string
          description: Two-letter US state code. Optional alias of `region` for callers
            that prefer the postal-style name.
          example: CA
        zip_code:
          type: string
          description: This is the Postal Code for the Unit.
          example: "70130"
        rooms:
          type: array
          items:
            type: string
          deprecated: true
          description: "Deprecated: derived from `rooms_info` on read; use `rooms_info`
            instead. An array of strings representing the room configuration for
            the property. Only rooms that are not bedrooms and bathrooms can be
            set this way."
          example:
            - Living Room
            - Den
            - Balcony
        rooms_info:
          type: array
          description: "Structured per-room configuration and, when supplied, the
            authoritative room set: `rooms`/`room_names` are derived from these
            entries. `name` is the source of truth (required); `type` is
            recomputed from it and `label` defaults to `name`, so both are
            optional. The bedroom/bathroom counts always come from the dedicated
            `bedrooms`/`full_bathrooms`/`half_bathrooms` fields, never from this
            array. Mutually exclusive with `rooms` — sending both is a
            validation error. Omit both `rooms` and `rooms_info` to leave the
            existing room arrays unchanged (only the counts are updated)."
          items:
            $ref: "#/components/schemas/room_info_request"
        bedrooms:
          type: integer
          minimum: 0
          maximum: 10
          description: The number of bedrooms the Unit has. Must be an integer in `[0, 10]`.
          example: 2
        full_bathrooms:
          type: number
          minimum: 0
          maximum: 10
          description: The number of full bathrooms the Unit has. Must be a number in `[0,
            10]` — decimals are allowed.
          example: 2
        half_bathrooms:
          type: integer
          minimum: 0
          maximum: 10
          description: The number of half bathrooms the Unit has. Must be an integer in
            `[0, 10]`.
          example: 1
        team_id:
          type: string
          description: Id of the Team who created or administers the Entity.
          example: 05fDGZRKp4nVmlmEwjsv
        rentvine_sync:
          $ref: "#/components/schemas/rentvine_sync"
    unit_response_model:
      type: object
      required:
        - id
        - property_type
        - address
        - city
        - zip_code
        - bedrooms
        - full_bathrooms
        - half_bathrooms
        - building_id
        - latchel_property_id
        - team
        - created_date
        - updated_date
        - rooms_info
        - rooms
        - room_names
        - last_completed_inspection
        - creation_source
        - created_by
        - permissions
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        x_id:
          type: string
          description: External property ID that maps to RentCheck properties
        address:
          type: string
          description: This is the street address for the Unit.
          example: 2001 Red Gates
          readOnly: true
        address_2:
          type: string
          description: Additional address information for the Unit.
          example: Apt. 4B
        city:
          type: string
          description: This is the city of the Unit.
          example: New Orleans
        region:
          type: string
          description: The broader region or area in which the Unit is located.
          example: Orleans
        zip_code:
          type: string
          description: This is the Postal Code for the Unit.
          example: "70130"
          readOnly: true
        team:
          type: object
          required:
            - id
            - name
            - internal_label
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: The name field is the Team name that is displayed on recipient
                facing reports and communication.
              example: The best company
            internal_label:
              type: string
              description: The internal label is a convenience label to help differentiate
                similar teams a user may belong to. It's displayed to you and
                your team members.
              example: The best company label
          nullable: true
          readOnly: true
          description: Team that owns this unit. May be null when the underlying team has
            been removed.
        created_date:
          type: string
          description: Entity creation date, in ISO format
          example: 2022-12-02T14:15:37.925
          readOnly: true
        updated_date:
          type: string
          description: Entity last update date, in ISO format
          example: 2023-10-04T14:15:37.925
          readOnly: true
        rooms:
          type: array
          items:
            type: string
          deprecated: true
          description: "Deprecated: derived from `rooms_info` on read; use `rooms_info`
            instead. An array of strings representing the room configuration for
            the property. Only rooms that are not bedrooms and bathrooms can be
            set this way."
          example:
            - Living Room
            - Den
            - Balcony
          readOnly: true
        room_names:
          type: array
          deprecated: true
          description: "Deprecated: derived from `rooms_info` on read; use `rooms_info`
            instead. Returned unit room names."
          enum:
            - Front Door
            - Back Door
            - Kitchen
            - Dining Room
            - Living Room
            - Family Room
            - Den
            - Office
            - Bedroom
            - First Bedroom
            - Second Bedroom
            - Third Bedroom
            - Fourth Bedroom
            - Fifth Bedroom
            - Sixth Bedroom
            - Seventh Bedroom
            - Eighth Bedroom
            - Ninth Bedroom
            - Tenth Bedroom
            - Bathroom
            - First Bathroom
            - Second Bathroom
            - Third Bathroom
            - Fourth Bathroom
            - Fifth Bathroom
            - Sixth Bathroom
            - Seventh Bathroom
            - Eighth Bathroom
            - Ninth Bathroom
            - Tenth Bathroom
            - Full Bathroom
            - First Full Bathroom
            - Second Full Bathroom
            - Third Full Bathroom
            - Fourth Full Bathroom
            - Fifth Full Bathroom
            - Sixth Full Bathroom
            - Seventh Full Bathroom
            - Eighth Full Bathroom
            - Ninth Full Bathroom
            - Tenth Full Bathroom
            - Half Bathroom
            - First Half Bathroom
            - Second Half Bathroom
            - Third Half Bathroom
            - Fourth Half Bathroom
            - Fifth Half Bathroom
            - Sixth Half Bathroom
            - Seventh Half Bathroom
            - Eighth Half Bathroom
            - Ninth Half Bathroom
            - Tenth Half Bathroom
            - Laundry Room
            - Stairway
            - Stairs
            - Hallway
            - Basement
            - Loft
            - Attic
            - Storage Room
            - Garage
            - Carport
            - Patio
            - Balcony
            - General
            - Property Exterior & Grounds
            - Multi-Unit Common Areas
          readOnly: true
        rooms_info:
          type: array
          description: Structured per-room metadata and the source of truth for room
            labeling. `rooms` and `room_names` are derived from this. `type` is
            the no-ordinal room kind (e.g. "Bedroom"), `name` is the ordinal
            name (e.g. "First Bedroom"), and `label` is a human-meaningful label
            that defaults to `name`.
          items:
            $ref: "#/components/schemas/room_info"
          readOnly: true
        last_completed_inspection:
          type: object
          readOnly: true
          nullable: true
          required:
            - date
            - id
            - type
          properties:
            date:
              type: string
              description: Inspection completion date, in ISO format
              example: 2022-12-02T14:15:37.925
            type:
              type: string
              description: The inspection template name
            id:
              type: string
              description: Inspection ID
        creation_source:
          type: string
          description: App that perform the entity creation.
          enum:
            - zapier
            - rentmanager
            - flatfile
            - 365connect
            - appfolio
            - yardi
            - rentvine
            - test_app_id
          example: zapier
          readOnly: true
        created_by:
          type: object
          properties:
            name:
              type: string
              description: Name of the user that created the property
          description: Info about the user that created the property.
          readOnly: true
        sync_data:
          type: object
          readOnly: true
          nullable: true
          required:
            - vendor
            - last_sync
          description: Single sync envelope used for whichever integration owns the
            property; null when the property is not synced.
          properties:
            last_sync:
              type: string
              description: Sync date, in ISO format
              example: 2022-12-02T14:15:37.925
            vendor:
              type: string
              description: The third party vendor for this sync
              enum:
                - rentmanager
                - yardi
                - appfolio
                - jenark
                - rentvine
                - buildium
            status:
              type: string
              description: Latest manual-sync status. Only present on integrations that expose
                it (e.g. Buildium).
              enum:
                - scheduled
                - processing
                - success
                - error
            error:
              type: string
              nullable: true
              description: Error message from the most recent sync attempt, if any.
            id:
              oneOf:
                - type: string
                - type: integer
              description: External vendor id for the property/unit (string for most vendors;
                integer for AppFolio).
            x_id:
              type: string
              description: Vendor-native external id echo for the legacy Rentvine / Rent
                Manager envelope. Kept for debugging/audit parity with the
                historic `sync_data`.
            location_id:
              type: string
              description: Rent Manager location (property) id — legacy `sync_data`,
                debugging/audit.
            integration_id:
              type: string
              description: RentCheck integration record id (Rent Manager legacy sync) —
                debugging/audit.
            short_property_id:
              type: string
              description: AppFolio short property id, when synced from AppFolio.
            short_unit_id:
              type: string
              description: AppFolio short unit id, when synced from AppFolio.
            upload_response:
              type: array
              description: AppFolio per-destination inspection-upload outcomes.
              items:
                type: object
                required:
                  - resource
                  - resource_id
                  - uploaded_id
                properties:
                  resource:
                    type: string
                    enum:
                      - units
                      - properties
                      - occupancies
                  resource_id:
                    type: string
                  uploaded_id:
                    type: string
        property_type:
          type: string
          description: The property type designates which type of property the Unit is.
            `""` is allowed as a legacy value for units created before the enum
            was tightened.
          enum:
            - ""
            - Single-Family
            - Multi-Family
            - Apartment or Condo
            - Commercial
          example: Single-Family
        bedrooms:
          type: integer
          minimum: 0
          maximum: 10
          description: The number of bedrooms the Unit has. Must be an integer in `[0, 10]`.
          example: 2
        full_bathrooms:
          type: number
          minimum: 0
          maximum: 10
          description: The number of full bathrooms the Unit has. Must be a number in `[0,
            10]` — decimals are allowed.
          example: 2
        half_bathrooms:
          type: integer
          minimum: 0
          maximum: 10
          description: The number of half bathrooms the Unit has. Must be an integer in
            `[0, 10]`.
          example: 1
        building_id:
          type: string
          description: ID of the parent building. Non-nullable.
          example: 00BRcZPSakXz6w7RYoE
          readOnly: true
        latchel_property_id:
          type: integer
          readOnly: true
          nullable: true
          description: Latchel property id when the unit is synced to Latchel; null
            otherwise.
        permissions:
          type: object
          readOnly: true
          required:
            - can_delete
            - can_create_inspection
            - can_add_to_parent_property
            - can_reassign_team
          description: Permissions available to the current user on this unit (matches the
            shape used by `building_response_model` /
            `community_response_model`).
          properties:
            can_delete:
              type: boolean
            can_create_inspection:
              type: boolean
            can_add_to_parent_property:
              type: boolean
            can_reassign_team:
              type: boolean
    building_create_request_model:
      type: object
      required:
        - team_id
        - name
        - address
        - city
        - zip_code
        - floors
      properties:
        x_id:
          type: string
          description: External property ID that maps to RentCheck properties
        team_id:
          type: string
          description: Id of the Team who created or administers the Entity.
          example: 05fDGZRKp4nVmlmEwjsv
        name:
          type: string
          description: This is the name of the Building.
          example: Empire State Building
        address:
          type: string
          description: This is the street address for the Building.
          example: 2001 Red Gates
        address_2:
          type: string
          description: Additional address information for the Building.
          example: Apt. 4B
        city:
          type: string
          description: This is the city of the Building.
          example: New Orleans
        region:
          type: string
          description: The broader region or area in which the Building is located.
          example: Orleans
        zip_code:
          type: string
          description: This is the Postal Code for the Building.
          example: "70130"
        floors:
          type: number
          maximum: 100
          description: The number of floors contained in the Building. This number allows
            us to customize Building inspections to target features on certain
            floors. Required on create, optional on update. Must be ≤ 100. On
            read, a missing value defaults to `1`.
          example: 7
        additional_team_ids:
          type: array
          description: Building can be accessed by multiple teams. This field lists the
            entity ids of Teams that have access to the Building
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        unit_ids:
          type: array
          description: Building can have 1+ Units associated with them. unit_ids is a list
            of entity ids of the Units that belong to a Building
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        rooms:
          type: array
          items:
            type: string
          deprecated: true
          description: 'Deprecated: on write prefer `rooms_info`, which is the
            authoritative room set. An array of arbitrary room-name strings for
            the building (e.g. "Lobby", "Roof Deck"). Building rooms are
            free-form — unlike units they are not constrained to a fixed set or
            derived from bedroom/bathroom counts. Used only when `rooms_info` is
            omitted.'
          example:
            - Lobby
            - Roof Deck
            - Gym
        rooms_info:
          type: array
          description: 'Structured per-room configuration for the building and, on write,
            the authoritative room set: when present, these entries define the
            building’s rooms and `rooms`/`room_names` are derived from them.
            `name` is the source of truth (required) — for buildings the room
            string itself (e.g. "Roof Deck") — while `type` is recomputed from
            it and `label` (the human-meaningful display name, e.g. "Sky
            Lounge") defaults to `name`, so both are optional. An explicit empty
            array clears the rooms. Mutually exclusive with `rooms` — sending
            both is a validation error; omit both to take the room set from
            `rooms`.'
          items:
            $ref: "#/components/schemas/room_info_request"
        state:
          type: string
          description: Two-letter US state code. Optional alias of `region` for callers
            that prefer the postal-style name.
          example: CA
        rentvine_sync:
          $ref: "#/components/schemas/rentvine_sync"
    building_update_request_model:
      type: object
      properties:
        x_id:
          type: string
          description: External property ID that maps to RentCheck properties
        name:
          type: string
          description: This is the name of the Building.
          example: Empire State Building
        address:
          type: string
          description: This is the street address for the Building.
          example: 2001 Red Gates
        address_2:
          type: string
          description: Additional address information for the Building.
          example: Apt. 4B
        city:
          type: string
          description: This is the city of the Building.
          example: New Orleans
        region:
          type: string
          description: The broader region or area in which the Building is located.
          example: Orleans
        zip_code:
          type: string
          description: This is the Postal Code for the Building.
          example: "70130"
        floors:
          type: number
          maximum: 100
          description: The number of floors contained in the Building. This number allows
            us to customize Building inspections to target features on certain
            floors. Required on create, optional on update. Must be ≤ 100. On
            read, a missing value defaults to `1`.
          example: 7
        rooms:
          type: array
          items:
            type: string
          deprecated: true
          description: 'Deprecated: on write prefer `rooms_info`, which is the
            authoritative room set. An array of arbitrary room-name strings for
            the building (e.g. "Lobby", "Roof Deck"). Building rooms are
            free-form — unlike units they are not constrained to a fixed set or
            derived from bedroom/bathroom counts. Used only when `rooms_info` is
            omitted.'
          example:
            - Lobby
            - Roof Deck
            - Gym
        rooms_info:
          type: array
          description: 'Structured per-room configuration for the building and, on write,
            the authoritative room set: when present, these entries define the
            building’s rooms and `rooms`/`room_names` are derived from them.
            `name` is the source of truth (required) — for buildings the room
            string itself (e.g. "Roof Deck") — while `type` is recomputed from
            it and `label` (the human-meaningful display name, e.g. "Sky
            Lounge") defaults to `name`, so both are optional. An explicit empty
            array clears the rooms. Mutually exclusive with `rooms` — sending
            both is a validation error; omit both to leave the building’s
            existing rooms unchanged.'
          items:
            $ref: "#/components/schemas/room_info_request"
        additional_team_ids:
          type: array
          description: Building can be accessed by multiple teams. This field lists the
            entity ids of Teams that have access to the Building
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        unit_ids:
          type: array
          description: Building can have 1+ Units associated with them. unit_ids is a list
            of entity ids of the Units that belong to a Building
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        team_id:
          type: string
          description: Id of the Team who created or administers the Entity.
          example: 05fDGZRKp4nVmlmEwjsv
        state:
          type: string
          description: Two-letter US state code. Optional alias of `region` for callers
            that prefer the postal-style name.
          example: CA
        rentvine_sync:
          $ref: "#/components/schemas/rentvine_sync"
    building_response_model:
      type: object
      required:
        - id
        - name
        - address
        - city
        - zip_code
        - floors
        - property_type
        - team
        - room_names
        - last_completed_inspection
        - permissions
        - created_date
        - updated_date
        - rooms_info
        - rooms
        - creation_source
        - created_by
        - additional_team_ids
        - unit_ids
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        x_id:
          type: string
          description: External property ID that maps to RentCheck properties
        team:
          type: object
          required:
            - id
            - name
            - internal_label
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: The name field is the Team name that is displayed on recipient
                facing reports and communication.
              example: The best company
            internal_label:
              type: string
              description: The internal label is a convenience label to help differentiate
                similar teams a user may belong to. It's displayed to you and
                your team members.
              example: The best company label
          nullable: true
          readOnly: true
          description: Team that owns this building. May be null when the underlying team
            has been removed.
        property_type:
          type: string
          description: Discriminator value identifying this property as a Building.
          enum:
            - Building
          example: Building
          readOnly: true
        name:
          type: string
          description: This is the name of the Building.
          example: Empire State Building
        address:
          type: string
          description: This is the street address for the Building.
          example: 2001 Red Gates
        address_2:
          type: string
          description: Additional address information for the Building.
          example: Apt. 4B
        city:
          type: string
          description: This is the city of the Building.
          example: New Orleans
        region:
          type: string
          description: The broader region or area in which the Building is located.
          example: Orleans
        zip_code:
          type: string
          description: This is the Postal Code for the Building.
          example: "70130"
        floors:
          type: number
          maximum: 100
          description: The number of floors contained in the Building. This number allows
            us to customize Building inspections to target features on certain
            floors. Required on create, optional on update. Must be ≤ 100. On
            read, a missing value defaults to `1`.
          example: 7
        additional_team_ids:
          type: array
          description: Building can be accessed by multiple teams. This field lists the
            entity ids of Teams that have access to the Building
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        unit_ids:
          type: array
          description: Building can have 1+ Units associated with them. unit_ids is a list
            of entity ids of the Units that belong to a Building
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        creation_source:
          type: string
          description: App that perform the entity creation.
          enum:
            - zapier
            - rentmanager
            - flatfile
            - 365connect
            - appfolio
            - yardi
            - rentvine
            - test_app_id
          example: zapier
          readOnly: true
        created_by:
          type: object
          properties:
            name:
              type: string
              description: Name of the user that created the property
          description: Info about the user that created the property.
          readOnly: true
        created_date:
          type: string
          description: Entity creation date, in ISO format
          example: 2022-12-02T14:15:37.925
          readOnly: true
        updated_date:
          type: string
          description: Entity last update date, in ISO format
          example: 2023-10-04T14:15:37.925
          readOnly: true
        rooms:
          type: array
          items:
            type: string
          deprecated: true
          description: "Deprecated: derived from `rooms_info` on read; use `rooms_info`
            instead. An array of strings representing the room configuration for
            the property. Only rooms that are not bedrooms and bathrooms can be
            set this way."
          example:
            - Living Room
            - Den
            - Balcony
          readOnly: true
        room_names:
          type: array
          deprecated: true
          description: "Deprecated: derived from `rooms_info` on read; use `rooms_info`
            instead. Returned unit room names."
          enum:
            - Front Door
            - Back Door
            - Kitchen
            - Dining Room
            - Living Room
            - Family Room
            - Den
            - Office
            - Bedroom
            - First Bedroom
            - Second Bedroom
            - Third Bedroom
            - Fourth Bedroom
            - Fifth Bedroom
            - Sixth Bedroom
            - Seventh Bedroom
            - Eighth Bedroom
            - Ninth Bedroom
            - Tenth Bedroom
            - Bathroom
            - First Bathroom
            - Second Bathroom
            - Third Bathroom
            - Fourth Bathroom
            - Fifth Bathroom
            - Sixth Bathroom
            - Seventh Bathroom
            - Eighth Bathroom
            - Ninth Bathroom
            - Tenth Bathroom
            - Full Bathroom
            - First Full Bathroom
            - Second Full Bathroom
            - Third Full Bathroom
            - Fourth Full Bathroom
            - Fifth Full Bathroom
            - Sixth Full Bathroom
            - Seventh Full Bathroom
            - Eighth Full Bathroom
            - Ninth Full Bathroom
            - Tenth Full Bathroom
            - Half Bathroom
            - First Half Bathroom
            - Second Half Bathroom
            - Third Half Bathroom
            - Fourth Half Bathroom
            - Fifth Half Bathroom
            - Sixth Half Bathroom
            - Seventh Half Bathroom
            - Eighth Half Bathroom
            - Ninth Half Bathroom
            - Tenth Half Bathroom
            - Laundry Room
            - Stairway
            - Stairs
            - Hallway
            - Basement
            - Loft
            - Attic
            - Storage Room
            - Garage
            - Carport
            - Patio
            - Balcony
            - General
            - Property Exterior & Grounds
            - Multi-Unit Common Areas
          readOnly: true
        rooms_info:
          type: array
          description: Structured per-room metadata and the source of truth for room
            labeling. `rooms` and `room_names` are derived from this. `type` is
            the no-ordinal room kind (e.g. "Bedroom"), `name` is the ordinal
            name (e.g. "First Bedroom"), and `label` is a human-meaningful label
            that defaults to `name`.
          items:
            $ref: "#/components/schemas/room_info"
          readOnly: true
        last_completed_inspection:
          type: object
          readOnly: true
          nullable: true
          required:
            - date
            - id
            - type
          properties:
            date:
              type: string
              description: Inspection completion date, in ISO format
              example: 2022-12-02T14:15:37.925
            type:
              type: string
              description: The inspection template name
            id:
              type: string
              description: Inspection ID
        permissions:
          type: object
          readOnly: true
          required:
            - can_delete
            - can_create_inspection
            - can_add_to_parent_property
            - can_reassign_team
          properties:
            can_delete:
              type: boolean
            can_create_inspection:
              type: boolean
            can_add_to_parent_property:
              type: boolean
            can_reassign_team:
              type: boolean
        sync_data:
          type: object
          readOnly: true
          nullable: true
          required:
            - vendor
            - last_sync
          description: Single sync envelope used for whichever integration owns the
            property; null when the property is not synced.
          properties:
            last_sync:
              type: string
              description: Sync date, in ISO format
              example: 2022-12-02T14:15:37.925
            vendor:
              type: string
              description: The third party vendor for this sync
              enum:
                - rentmanager
                - yardi
                - appfolio
                - jenark
                - rentvine
                - buildium
            status:
              type: string
              description: Latest manual-sync status. Only present on integrations that expose
                it (e.g. Buildium).
              enum:
                - scheduled
                - processing
                - success
                - error
            error:
              type: string
              nullable: true
              description: Error message from the most recent sync attempt, if any.
            id:
              oneOf:
                - type: string
                - type: integer
              description: External vendor id for the property/unit (string for most vendors;
                integer for AppFolio).
            x_id:
              type: string
              description: Vendor-native external id echo for the legacy Rentvine / Rent
                Manager envelope. Kept for debugging/audit parity with the
                historic `sync_data`.
            location_id:
              type: string
              description: Rent Manager location (property) id — legacy `sync_data`,
                debugging/audit.
            integration_id:
              type: string
              description: RentCheck integration record id (Rent Manager legacy sync) —
                debugging/audit.
            short_property_id:
              type: string
              description: AppFolio short property id, when synced from AppFolio.
            short_unit_id:
              type: string
              description: AppFolio short unit id, when synced from AppFolio.
            upload_response:
              type: array
              description: AppFolio per-destination inspection-upload outcomes.
              items:
                type: object
                required:
                  - resource
                  - resource_id
                  - uploaded_id
                properties:
                  resource:
                    type: string
                    enum:
                      - units
                      - properties
                      - occupancies
                  resource_id:
                    type: string
                  uploaded_id:
                    type: string
    community_create_request_model:
      type: object
      required:
        - team_id
        - name
        - address
        - city
        - zip_code
      properties:
        x_id:
          type: string
          description: External property ID that maps to RentCheck properties
        team_id:
          type: string
          description: Id of the Team who created or administers the Entity.
          example: 05fDGZRKp4nVmlmEwjsv
        name:
          type: string
          description: This is the name of the Community.
          example: Whispering Pines
        address:
          type: string
          description: This is the street address for the Community.
          example: 2001 Red Gates
        address_2:
          type: string
          description: Additional address information for the Community.
          example: Apt. 4B
        city:
          type: string
          description: This is the city of the Community.
          example: New Orleans
        region:
          type: string
          description: The broader region or area in which the Community is located.
          example: Orleans
        zip_code:
          type: string
          description: This is the Postal Code for the Community.
          example: "70130"
        additional_team_ids:
          type: array
          description: Community can be accessed by multiple teams. This field lists the
            entity ids of Teams that have access to the Community
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        building_ids:
          type: array
          description: Community can have 1+ Buildings associated with them. building_ids
            is a list of entity ids of the Buildings that belong to a Community
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        state:
          type: string
          description: Two-letter US state code. Optional alias of `region` for callers
            that prefer the postal-style name.
          example: CA
    community_update_request_model:
      type: object
      properties:
        x_id:
          type: string
          description: External property ID that maps to RentCheck properties
        name:
          type: string
          description: This is the name of the Community.
          example: Downtown Community
        address:
          type: string
          description: This is the street address for the Community.
          example: 2001 Red Gates
        address_2:
          type: string
          description: Additional address information for the Community.
          example: Apt. 4B
        city:
          type: string
          description: This is the city of the Community.
          example: New Orleans
        region:
          type: string
          description: The broader region or area in which the Community is located.
          example: Orleans
        zip_code:
          type: string
          description: This is the Postal Code for the Community.
          example: "70130"
        additional_team_ids:
          type: array
          description: Community can be accessed by multiple teams. This field lists the
            entity ids of Teams that have access to the Community
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        building_ids:
          type: array
          description: Community can have 1+ Buildings associated with them. building_ids
            is a list of entity ids of the Buildings that belong to a Community
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        team_id:
          type: string
          description: Id of the Team who created or administers the Entity.
          example: 05fDGZRKp4nVmlmEwjsv
        state:
          type: string
          description: Two-letter US state code. Optional alias of `region` for callers
            that prefer the postal-style name.
          example: CA
    community_response_model:
      type: object
      required:
        - id
        - name
        - address
        - city
        - zip_code
        - property_type
        - team
        - room_names
        - last_completed_inspection
        - permissions
        - created_date
        - updated_date
        - rooms_info
        - rooms
        - creation_source
        - created_by
        - additional_team_ids
        - building_ids
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        x_id:
          type: string
          description: External property ID that maps to RentCheck properties
        team:
          type: object
          required:
            - id
            - name
            - internal_label
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: The name field is the Team name that is displayed on recipient
                facing reports and communication.
              example: The best company
            internal_label:
              type: string
              description: The internal label is a convenience label to help differentiate
                similar teams a user may belong to. It's displayed to you and
                your team members.
              example: The best company label
          nullable: true
          readOnly: true
          description: Team that owns this community. May be null when the underlying team
            has been removed.
        property_type:
          type: string
          description: Discriminator value identifying this property as a Community.
          enum:
            - Community
          example: Community
          readOnly: true
        name:
          type: string
          description: This is the name of the Community.
          example: Whispering Pines
        address:
          type: string
          description: This is the street address for the Community.
          example: 2001 Red Gates
        address_2:
          type: string
          description: Additional address information for the Community.
          example: Apt. 4B
        city:
          type: string
          description: This is the city of the Community.
          example: New Orleans
        region:
          type: string
          description: The broader region or area in which the Community is located.
          example: Orleans
        zip_code:
          type: string
          description: This is the Postal Code for the Community.
          example: "70130"
        additional_team_ids:
          type: array
          description: Community can be accessed by multiple teams. This field lists the
            entity ids of Teams that have access to the Community
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        building_ids:
          type: array
          description: Community can have 1+ Buildings associated with them. building_ids
            is a list of entity ids of the Buildings that belong to a Community
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        creation_source:
          type: string
          description: App that perform the entity creation.
          enum:
            - zapier
            - rentmanager
            - flatfile
            - 365connect
            - appfolio
            - yardi
            - rentvine
            - test_app_id
          example: zapier
          readOnly: true
        created_by:
          type: object
          properties:
            name:
              type: string
              description: Name of the user that created the property
          description: Info about the user that created the property.
          readOnly: true
        created_date:
          type: string
          description: Entity creation date, in ISO format
          example: 2022-12-02T14:15:37.925
          readOnly: true
        updated_date:
          type: string
          description: Entity last update date, in ISO format
          example: 2023-10-04T14:15:37.925
          readOnly: true
        rooms:
          type: array
          items:
            type: string
          deprecated: true
          description: "Deprecated: derived from `rooms_info` on read; use `rooms_info`
            instead. An array of strings representing the room configuration for
            the property. Only rooms that are not bedrooms and bathrooms can be
            set this way."
          example:
            - Living Room
            - Den
            - Balcony
          readOnly: true
        room_names:
          type: array
          deprecated: true
          description: "Deprecated: derived from `rooms_info` on read; use `rooms_info`
            instead. Returned unit room names."
          enum:
            - Front Door
            - Back Door
            - Kitchen
            - Dining Room
            - Living Room
            - Family Room
            - Den
            - Office
            - Bedroom
            - First Bedroom
            - Second Bedroom
            - Third Bedroom
            - Fourth Bedroom
            - Fifth Bedroom
            - Sixth Bedroom
            - Seventh Bedroom
            - Eighth Bedroom
            - Ninth Bedroom
            - Tenth Bedroom
            - Bathroom
            - First Bathroom
            - Second Bathroom
            - Third Bathroom
            - Fourth Bathroom
            - Fifth Bathroom
            - Sixth Bathroom
            - Seventh Bathroom
            - Eighth Bathroom
            - Ninth Bathroom
            - Tenth Bathroom
            - Full Bathroom
            - First Full Bathroom
            - Second Full Bathroom
            - Third Full Bathroom
            - Fourth Full Bathroom
            - Fifth Full Bathroom
            - Sixth Full Bathroom
            - Seventh Full Bathroom
            - Eighth Full Bathroom
            - Ninth Full Bathroom
            - Tenth Full Bathroom
            - Half Bathroom
            - First Half Bathroom
            - Second Half Bathroom
            - Third Half Bathroom
            - Fourth Half Bathroom
            - Fifth Half Bathroom
            - Sixth Half Bathroom
            - Seventh Half Bathroom
            - Eighth Half Bathroom
            - Ninth Half Bathroom
            - Tenth Half Bathroom
            - Laundry Room
            - Stairway
            - Stairs
            - Hallway
            - Basement
            - Loft
            - Attic
            - Storage Room
            - Garage
            - Carport
            - Patio
            - Balcony
            - General
            - Property Exterior & Grounds
            - Multi-Unit Common Areas
          readOnly: true
        rooms_info:
          type: array
          description: Structured per-room metadata and the source of truth for room
            labeling. `rooms` and `room_names` are derived from this. `type` is
            the no-ordinal room kind (e.g. "Bedroom"), `name` is the ordinal
            name (e.g. "First Bedroom"), and `label` is a human-meaningful label
            that defaults to `name`.
          items:
            $ref: "#/components/schemas/room_info"
          readOnly: true
        last_completed_inspection:
          type: object
          readOnly: true
          nullable: true
          required:
            - date
            - id
            - type
          properties:
            date:
              type: string
              description: Inspection completion date, in ISO format
              example: 2022-12-02T14:15:37.925
            type:
              type: string
              description: The inspection template name
            id:
              type: string
              description: Inspection ID
        permissions:
          type: object
          readOnly: true
          required:
            - can_delete
            - can_create_inspection
            - can_add_to_parent_property
            - can_reassign_team
          properties:
            can_delete:
              type: boolean
            can_create_inspection:
              type: boolean
            can_add_to_parent_property:
              type: boolean
            can_reassign_team:
              type: boolean
        sync_data:
          type: object
          readOnly: true
          nullable: true
          required:
            - vendor
            - last_sync
          description: Single sync envelope used for whichever integration owns the
            property; null when the property is not synced.
          properties:
            last_sync:
              type: string
              description: Sync date, in ISO format
              example: 2022-12-02T14:15:37.925
            vendor:
              type: string
              description: The third party vendor for this sync
              enum:
                - rentmanager
                - yardi
                - appfolio
                - jenark
                - rentvine
                - buildium
            status:
              type: string
              description: Latest manual-sync status. Only present on integrations that expose
                it (e.g. Buildium).
              enum:
                - scheduled
                - processing
                - success
                - error
            error:
              type: string
              nullable: true
              description: Error message from the most recent sync attempt, if any.
            id:
              oneOf:
                - type: string
                - type: integer
              description: External vendor id for the property/unit (string for most vendors;
                integer for AppFolio).
            x_id:
              type: string
              description: Vendor-native external id echo for the legacy Rentvine / Rent
                Manager envelope. Kept for debugging/audit parity with the
                historic `sync_data`.
            location_id:
              type: string
              description: Rent Manager location (property) id — legacy `sync_data`,
                debugging/audit.
            integration_id:
              type: string
              description: RentCheck integration record id (Rent Manager legacy sync) —
                debugging/audit.
            short_property_id:
              type: string
              description: AppFolio short property id, when synced from AppFolio.
            short_unit_id:
              type: string
              description: AppFolio short unit id, when synced from AppFolio.
            upload_response:
              type: array
              description: AppFolio per-destination inspection-upload outcomes.
              items:
                type: object
                required:
                  - resource
                  - resource_id
                  - uploaded_id
                properties:
                  resource:
                    type: string
                    enum:
                      - units
                      - properties
                      - occupancies
                  resource_id:
                    type: string
                  uploaded_id:
                    type: string
    resident_create_request_model:
      type: object
      required:
        - current_property_id
        - first_name
        - last_name
        - emails
      properties:
        current_property_id:
          type: string
          description: The entity id of the latest Unit occupied by the Resident.
          example: 00BRcZPSakXz6w7RYoE
        first_name:
          type: string
          description: The Resident's first name.
          example: Resident Name
        last_name:
          type: string
          description: The Resident's last name.
          example: Resident Lastname
        emails:
          type: array
          description: Resident's emails
          items:
            type: string
          example:
            - resident@email.com
        phone_numbers:
          type: array
          items:
            type: string
          description: Resident's phone numbers
          example:
            - "+17035556390"
        current_lease_start:
          type: string
          description: The date the Resident's current lease starts.
          example: 2021-01-15T00:00:00.000
        current_lease_end:
          type: string
          description: The date the Resident's current lease should end.
          example: 2022-01-15T00:00:00.000
        current_rent:
          type: number
          description: The dollar amount of the Resident's current rent. Must be ≥ 0.
          example: 100
        current_security_deposit:
          type: number
          description: The dollar amount of the Resident's security deposit. Must be ≥ 0.
          example: 150
        move_out_date:
          type: string
          description: The date that the Resident is scheduled to move out of the current
            Property.
          example: 2022-01-15T00:00:00.000
        previous_properties:
          type: array
          description: Always emitted as an empty array on v1 resident responses. To
            enumerate the past leases for a resident, list them via `GET
            /v2/residents/{residentId}/leases`. Retained here for backward
            compatibility.
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
    resident_update_request_model:
      type: object
      properties:
        first_name:
          type: string
          description: The Resident's first name.
          example: Resident Name
        last_name:
          type: string
          description: The Resident's last name.
          example: Resident Lastname
        emails:
          type: array
          description: Resident's emails
          items:
            type: string
          example:
            - resident@email.com
        phone_numbers:
          type: array
          items:
            type: string
          description: Resident's phone numbers
          example:
            - "+17035556390"
    resident_response_model:
      type: object
      required:
        - id
        - organizationID
        - emails
        - previous_properties
        - created_date
        - updated_date
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        user_id:
          type: string
          description: The id of the linked user account for this resident, when one
            exists. Populated once the resident accepts an invite and signs in.
          example: 00BRcZPSakXz6w7RYoE
        organizationID:
          type: string
          description: The id of the organization that owns the resident record.
          example: 00BRcZPSakXz6w7RYoE
        owner_id:
          type: string
          description: User ID of the resident entity
          example: 00BRcZPSakXz6w7RYoE
        first_name:
          type: string
          description: The Resident's first name.
          example: Resident Name
        last_name:
          type: string
          description: The Resident's last name.
          example: Resident Lastname
        emails:
          type: array
          description: Resident's emails
          items:
            type: string
          example:
            - resident@email.com
        phone_numbers:
          type: array
          items:
            type: string
          description: Resident's phone numbers
          example:
            - "+17035556390"
        current_property_id:
          type: string
          description: The entity id of the latest Unit occupied by the Resident.
          example: 00BRcZPSakXz6w7RYoE
        current_property_address:
          type: string
          description: This field is the street address from the property listed in the
            inspection
          example: 1234 Street name
        current_lease_start:
          type: string
          description: The date the Resident's current lease starts.
          example: 2021-01-15T00:00:00.000
        current_lease_end:
          type: string
          description: The date the Resident's current lease should end.
          example: 2022-01-15T00:00:00.000
        current_rent:
          type: number
          description: The dollar amount of the Resident's current rent. Must be ≥ 0.
          example: 100
        current_security_deposit:
          type: number
          description: The dollar amount of the Resident's security deposit. Must be ≥ 0.
          example: 150
        move_out_date:
          type: string
          description: The date that the Resident is scheduled to move out of the current
            Property.
          example: 2022-01-15T00:00:00.000
        previous_properties:
          type: array
          description: Always emitted as an empty array on v1 resident responses. To
            enumerate the past leases for a resident, list them via `GET
            /v2/residents/{residentId}/leases`. Retained here for backward
            compatibility.
          items:
            type: string
            description: Entity ID
            example: 00BRcZPSakXz6w7RYoE
        creation_source:
          type: string
          description: App that perform the entity creation.
          enum:
            - zapier
            - rentmanager
            - flatfile
            - 365connect
            - appfolio
            - yardi
            - rentvine
            - test_app_id
          example: zapier
        created_date:
          type: string
          description: Entity creation date, in ISO format
          example: 2022-12-02T14:15:37.925
        updated_date:
          type: string
          description: Entity last update date, in ISO format
          example: 2023-10-04T14:15:37.925
    feature_rotate_photo_request_model:
      type: object
      required:
        - photo_url
      properties:
        photo_url:
          type: string
          description: URL for the image that needs to be rotated
        angle:
          type: number
    filter_segment_create_request_model:
      type: object
      required:
        - name
        - color
        - icon
        - filters
      description: Request body for creating a filter segment.
      properties:
        name:
          type: string
          description: Segment name. Must be unique per owner (trimmed, case-insensitive).
        color:
          type: string
          enum:
            - grey
            - blue
            - light_blue
            - orange
            - green
            - red
        icon:
          type: string
          enum:
            - paint-roller
            - traffic-cone
            - inbox
            - file-signature
            - exclamation-triangle
            - user-circle
            - archive
            - hammer
            - truck-container
            - user-helmet-safety
            - house
            - house-tree
            - house-chimney-crack
            - house-flood-water
            - snowflake
            - sun
            - umbrella-simple
            - cloud-rainbow
            - rainbow
            - dog
            - raccoon
            - city
            - roller-coaster
            - house-flag
            - tree-city
            - star-shooting
            - clock
            - repeat
            - pen
            - tag
            - shower
            - bed
            - shield-check
            - circle-check
            - circle-xmark
            - files
          description: FontAwesome icon name from the allowlist.
          example: house
        filters:
          type: object
          description: The inspections-list filter combo. At least one filter must be
            provided.
          minProperties: 1
          properties:
            search:
              type: string
            archived:
              type: boolean
            has_flags:
              type: boolean
            due_date:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
            due_date_legacy:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
            completed_date:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
            assigned_to:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
            team:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            inspection_template:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            inspection_status:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            rating:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
            property:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            review_step:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
            created_by:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
    filter_segment_update_request_model:
      type: object
      required:
        - name
        - color
        - icon
        - filters
      description: Request body for updating a filter segment. Full replace — same
        shape and rules as create.
      properties:
        name:
          type: string
          description: Segment name. Must be unique per owner (trimmed, case-insensitive);
            keeping the segment’s current name is allowed.
        color:
          type: string
          enum:
            - grey
            - blue
            - light_blue
            - orange
            - green
            - red
        icon:
          type: string
          enum:
            - paint-roller
            - traffic-cone
            - inbox
            - file-signature
            - exclamation-triangle
            - user-circle
            - archive
            - hammer
            - truck-container
            - user-helmet-safety
            - house
            - house-tree
            - house-chimney-crack
            - house-flood-water
            - snowflake
            - sun
            - umbrella-simple
            - cloud-rainbow
            - rainbow
            - dog
            - raccoon
            - city
            - roller-coaster
            - house-flag
            - tree-city
            - star-shooting
            - clock
            - repeat
            - pen
            - tag
            - shower
            - bed
            - shield-check
            - circle-check
            - circle-xmark
            - files
          description: FontAwesome icon name from the allowlist.
          example: house
        filters:
          type: object
          description: The inspections-list filter combo. At least one filter must be
            provided.
          minProperties: 1
          properties:
            search:
              type: string
            archived:
              type: boolean
            has_flags:
              type: boolean
            due_date:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
            due_date_legacy:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
            completed_date:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
            assigned_to:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
            team:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            inspection_template:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            inspection_status:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            rating:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
            property:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            review_step:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
            created_by:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
    filter_segment_response_model:
      type: object
      required:
        - id
        - name
        - color
        - icon
        - filters
        - created_by
        - updated_by
        - owned_by
        - created_at
        - updated_at
      description: A filter segment.
      properties:
        id:
          type: string
          description: Entity ID
          example: 00BRcZPSakXz6w7RYoE
        name:
          type: string
        color:
          type: string
          enum:
            - grey
            - blue
            - light_blue
            - orange
            - green
            - red
        icon:
          type: string
          enum:
            - paint-roller
            - traffic-cone
            - inbox
            - file-signature
            - exclamation-triangle
            - user-circle
            - archive
            - hammer
            - truck-container
            - user-helmet-safety
            - house
            - house-tree
            - house-chimney-crack
            - house-flood-water
            - snowflake
            - sun
            - umbrella-simple
            - cloud-rainbow
            - rainbow
            - dog
            - raccoon
            - city
            - roller-coaster
            - house-flag
            - tree-city
            - star-shooting
            - clock
            - repeat
            - pen
            - tag
            - shower
            - bed
            - shield-check
            - circle-check
            - circle-xmark
            - files
          description: FontAwesome icon name.
        filters:
          type: object
          description: The inspections-list filter combo. At least one filter must be
            provided.
          minProperties: 1
          properties:
            search:
              type: string
            archived:
              type: boolean
            has_flags:
              type: boolean
            due_date:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
            due_date_legacy:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
            completed_date:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
            assigned_to:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
            team:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            inspection_template:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            inspection_status:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            rating:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
            property:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
            review_step:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
            created_by:
              type: object
              required:
                - value
                - condition
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: Filter values. Duplicate values are rejected.
                condition:
                  type: string
                  enum:
                    - any_of
                    - none_of
        created_by:
          type: object
          required:
            - id
            - name
            - email
            - type
          description: Basic user identity fields.
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: Name of the user
            email:
              type: string
              description: Email of the user
            type:
              type: string
              enum:
                - Renter
                - Property Manager
                - Landlord
                - System
              description: User type discriminator.
        updated_by:
          type: object
          required:
            - id
            - name
            - email
            - type
          description: Basic user identity fields.
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: Name of the user
            email:
              type: string
              description: Email of the user
            type:
              type: string
              enum:
                - Renter
                - Property Manager
                - Landlord
                - System
              description: User type discriminator.
        owned_by:
          type: object
          required:
            - id
            - name
            - email
            - type
          description: Basic user identity fields.
          properties:
            id:
              type: string
              description: Entity ID
              example: 00BRcZPSakXz6w7RYoE
            name:
              type: string
              description: Name of the user
            email:
              type: string
              description: Email of the user
            type:
              type: string
              enum:
                - Renter
                - Property Manager
                - Landlord
                - System
              description: User type discriminator.
        created_at:
          type: string
          format: date-time
          description: ISO timestamp.
        updated_at:
          type: string
          format: date-time
          description: ISO timestamp.
    inspection_v2_create_request_model:
[...]
